<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

    <title>Beauty Craft</title>

    <!--Style Sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/serviceprovider.css" />


</head>

<body class="layout-template-1">

    <!--Sidebar-->
    <div class="sidebar">
        <!--Sidebar Header-->
        <div class="sidebar-header">
            <a href="overview.html">
                <div>
                    <img src="../../assets/img/logo-white.png" alt="BeautyCraft">
                </div>
            </a>
        </div>
        <!--End Sidebar Header-->
        <!--Sidebar Navigation-->
        <nav class="sidebar-nav">
            <!--Sidebar Menu-->
            <ul class="sidebar-main_menu">

                <!--Sidebar Item-->
                <li class="sidebar-main_menu_item sidebar-menu_item">
                    <a class="sidebar-menu_item-link  main-selected" href="./mainOption1.html">
                        <div class="sidebar-menu_item-icon">
                            <img src="../../assets/icons/overview-white.png" />
                        </div>
                        <div class="sidebar-menu_item-title">Main Option 1</div>
                    </a>
                </li>
                <!--End Sidebar Item-->

                <!--Sidebar Item-->
                <li class="sidebar-main_menu_item sidebar-menu_item">
                    <a class="sidebar-menu_item-link" href="#">
                        <div class="sidebar-menu_item-icon">
                            <img src="../../assets/icons/overview-white.png" />
                        </div>
                        <div class="sidebar-menu_item-title">Main Option 2</div>
                        <div class="sidebar-menu_item-arrow">
                            <img src="../../assets/icons/expand-white.png" />
                        </div>
                    </a>
                    <!--Sidebar Sub Menu-->
                    <ul class="sidebar-sub_menu">
                        <!--Sidebar Sub Item-->
                        <li class="sidebar-menu_item sidebar-sub_menu_item">
                            <a class="sidebar-menu_item-link" href="./subOption1.html">
                                <!-- <div class="sidebar-menu_item-icon"></div> -->
                                <div class="sidebar-menu_item-title">Sub Option 1</div>
                            </a>
                        </li>
                        <!--End Sidebar Sub Item-->
                        <!--Sidebar Sub Item-->
                        <li class="sidebar-menu_item sidebar-sub_menu_item">
                            <a class="sidebar-menu_item-link" href="./subOption2.html">
                                <!-- <div class="sidebar-menu_item-icon"></div> -->
                                <div class="sidebar-menu_item-title">Sub Option 2</div>
                            </a>
                        </li>
                        <!--End Sidebar Sub Item-->

                    </ul>
                    <!--End Sidebar Sub Menu-->
                </li>
                <!--End Sidebar Item-->

                <!--Sidebar Item-->
                <li class="sidebar-main_menu_item sidebar-menu_item">
                    <a class="sidebar-menu_item-link" href="#">
                        <div class="sidebar-menu_item-icon">
                            <img src="../../assets/icons/overview-white.png" />
                        </div>
                        <div class="sidebar-menu_item-title">Main Option 3</div>
                        <div class="sidebar-menu_item-arrow">
                            <img src="../../assets/icons/expand-white.png" />
                        </div>
                    </a>

                    <!--Sidebar Sub Menu-->
                    <ul class="sidebar-sub_menu">
                        <!--Sidebar Sub Item-->
                        <li class="sidebar-menu_item sidebar-sub_menu_item">
                            <a class="sidebar-menu_item-link" href="./subOption3.html">
                                <!-- <div class="sidebar-menu_item-icon"></div> -->
                                <div class="sidebar-menu_item-title">Sub Option 3</div>
                            </a>
                        </li>
                        <!--End Sidebar Sub Item-->
                        <!--Sidebar Sub Item-->
                        <li class="sidebar-menu_item sidebar-sub_menu_item">
                            <a class="sidebar-menu_item-link" href="./subOption4.html">
                                <!-- <div class="sidebar-menu_item-icon"></div> -->
                                <div class="sidebar-menu_item-title">Sub Option 4</div>
                            </a>
                        </li>
                        <!--End Sidebar Sub Item-->
                    </ul>
                    <!--End Sidebar Sub Menu-->
                </li>
                <!--End Sidebar Item-->


            </ul>
            <!--End Sidebar Menu-->
        </nav>
        <!--End Sidebar Navigation-->
    </div>
    <!--End Sidebar-->


    <!--Header(Top Bar)-->
    <header>
        <div class="header-left">
            <i class="fas fa-bars fa-2x header-menu_icon"></i>
            <span class="header-topic">Overview</span>
        </div>

        <div class="header-profile">
            <img class="header-profilepic" src="../../assets/img/person1.jpg"></img>
            <span class="header-username">Ruwanthi Munasinghe</span>
            <span class="header-userRole">Service Provider</span>
            <span class="header-profile-arrow">
            <i class="fas fa-chevron-down "></i>
         </span>

            <!-- <img class="header-profile-arrow" src="../../assets/icons/overview-white.png" /> -->
        </div>
    </header>
    <!--End Header(Top Bar)-->

    <!--Content-->
    <div class="content">
        <div class="sub-container1">
            <!--sub-container1-card 1-->
            <div class="sub-container1-card">
                <div class="sub-container1-card-title">
                    <p>Completed</br>Reservations </p>
                </div>
                <div class="sub-container1-card-count">
                    <p>5/10</p>
                </div>

            </div>
            <!--End sub-container1-card  1-->
            <!--sub-container1-card 2-->
            <div class="sub-container1-card">
                <div class="sub-container1-card-title">
                    <p>Pending Recall</br>Requests </p>
                </div>
                <div class="sub-container1-card-count">
                    <p>10</p>
                </div>
            </div>
            <!--End sub-container1-card  2-->
        </div>

        <!--sub-container2-->
        <div class="sub-container2">
            <h2>Upcoming reservations today</h2>
            <!--sub-container2-card-->
            <div class="scroll-area">
                <div class="webview">
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                    <div class="sub-container2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="sub-container2-card-timeservice">
                            <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                            <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                        </div>
                        <!--sub-container2-card-timetype-->

                        <div class="sub-container2-card-name">
                            <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">
                            <p>Ruwanthi Munasinghe</p>
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="#popup1 ">More Info</a>
                        </div>
                    </div>
                    <!--End sub-container2-card-->
                </div>
                <!--mobilesub-container2-card-->
                <div class="mobview">
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                    <div class="mob-subcontainer2-card">
                        <!--sub-container2-card-timetype-->
                        <div class="details">
                            <div class="sub-container2-card-timeservice">
                                <span class="sub-container2-card-timeservice-time">
                            10.30-10.00
                        </span>
                                <span class="sub-container2-card-timeservice-service">
                            Ladies hair cut
                        </span>
                                <span class="sub-container2-card-name">
                            Ruwanthi123Munasinghe
                        </span>

                            </div>
                            <div class="sub-container2-card-profile">
                                <img src="https://image.shutterstock.com/image-photo/young-businesswoman-sitting-on-modern-260nw-1912892869.jpg" alt="Avatar" class="avatar">

                            </div>
                            <!--sub-container2-card-timetype-->
                        </div>
                        <div class=" sub-container2-card-link ">
                            <a class="sub-container2-card-link" href="url ">More Info</a>
                        </div>
                    </div>
                    <!--End mobile sub-container2-card-->
                </div>
            </div>
            <!--End scroll area-->

        </div>
        <!--End sub-container2-->
        <!--popup-->
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Here i am</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Thank to pop me out of that button, but now i'm done so you can close this window.
                </div>
            </div>
        </div>
        <!--End popup-->
    </div>
    <!--End Content-->

    <!--Footer-->
    <footer>
    </footer>
    <!--End Footer-->


    <script src="../../assets/js/jquery-3.6.0.min.js "></script>
    <script src="../../assets/js/sidebar.js "></script>
</body>


</html>