@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --theme-purple: #444BF8;
  --theme-blue: #037AFF;
  --theme-black: #252631;
  --theme-bgwhite: #F2F2F7;
  --theme-grey: #50515A;
  --white: #FFFFFF;
  --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F2F2F7;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

h3, h4{
    padding: 10px 10px;
}

hr{
    margin-top: 25px;
    text-align: center;
    width: 100%;
    border-color: #F2F2F7;
}

hr.resHr{
    width: 100%;
    margin: 10px -10px 10px -10px;
}

a{
    text-decoration: none;
}

label{
    display: inline-block;
}

span{
    margin: 10px 10px;
    font-size: 12px;
}

.newService-main{
    display: block;
    width: 55%;
	margin: 10px 10px;
    overflow-x: auto;
    justify-content: center;
}

.newService-sub{
    min-width: 385px;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: 20px 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.newService-sub-head{
    margin-top: 20px;
}

.newService-sub-sub{
    padding: 10px 10px;
    margin: 10px 10px;
}

.dropdown-Div{
    background-color: #F2F2F7;
    background-clip: border-box;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px 10px;
    border-radius: 6px;
}

.anotheSlot{
    padding-left: 20px;
}

.checkbox-div{
	height: 120px;
    width: 60%;
    min-width: 290px;
    padding: 10px 10px;
    background-color: white;
    margin: 0 0px 10px 0px;
    border :1px solid #ccc;
    border-radius: 6px;
    overflow: auto;
}

.dropdownSelectBox{
    width: 60%;
    padding-left: 15px;

}

.dropdownSelectBox-small{
    /* display: none; */
    height: 25px;
    width: 50px;
    border-radius: 6px;
    margin-left: 10px;
    border :1px solid #ccc;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size : 16px;
}

input[type="text"], .dropdownSelectBox{
	height: 45px;
    border-radius: 6px;
    border :1px solid #ccc;
    font-size : 16px;
}

input[type="text"]{
    width: 100%;
    padding-left: 15px;
}

.buttonNew{
    background-color: black;
    color: white;
    width: 30%;
    height: 45px;
    right: 0;
    margin-left: 6%;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-Add-Div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonAdd{
    background-color: #444BF8;
    margin-top: 20px;
    color: white;
    width: 30%;
    height: 45px;
    right: 0;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

select.dropdownSelectBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.dropdownSelectBox:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: black;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.close-slot{
    position: absolute;
    right: 22%;
    width: 50px;
    height: 50px;
    color: #000000;
}

.close-slot:hover {
    color: red;
}

/* View service extra*/
.view-Div{
    margin-left: 0px;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid rgb(194, 194, 194); 
    background-color: white;
    overflow: auto;
}

.resource-align{
    text-align: left;
}

.quantity-align{
    float: right;
}

/* @media(max-width: 950px) {
    
    .checkbox-div{
        width: 250px;
        
    }
} */