.nav-black {
    background-color: var(--theme-black);
}

@media (max-width: 860px) {
    .customerPages .sidebar {
        display: none;
    }
}

.outer-container {
    height: calc(100vh - 150px);
}

.main-content-template {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 4fr 12fr;
    grid-template-areas: "sidebar content";
}

.container {
    grid-area: content;
    height: 100%;
    width: 800px;
    margin-top: 7px;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    background-color: #f2f2f7;
}

.sidebar {
    grid-area: sidebar;
}

.item {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
}

.item1 {
    height: 20%;
    display: flex;
    flex-direction: row;
}

.item2,
.item7 {
    height: 18%;
    display: flex;
    flex-direction: row;
}

.item3 {
    height: 15%;
}

.item4 {
    height: 18%;
}

.item6 {
    height: 100px !important;
    margin-top: 10px;
}

.item5 {
    height: 18%;
    display: flex;
    align-items: flex-end;
    padding-right: 5%;
    /* flex-direction: flex-end; */
}

.profileimg {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

.profileimg img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.profbutton {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.profbutton button {
    padding: 4px 20px;
}

button.upload {
    background-color: #252631;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border: #252631;
    color: white;
}

button.remove {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 400;
}

.profname {
    width: 50%;
}

label.proflabel {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.fname {
    margin-top: 5px;
    height: 40px;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;

}

.fname:focus,
.passwordinput:focus,
.passwordinput1:focus {
    outline: none;
    border: 1px solid #6f6df4;
}

.btnSave {
    margin-top: 14px;
    padding: 7px;
    width: 120px;
}

.passwordinput1 {
    border: none;
    border-radius: 6px;
}

.pwd2 {
    padding-left: 15px;

}

.passwordinput {
    height: 40px;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: 1.2px solid #c4cae0;

    border-radius: 6px;
    margin-top: 5px;
}

.radiobutton {
    margin-top: 5px;
}

.radiobutton label {
    font-size: 14px;
    width: 100%;
}

.passwordinput input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.line {
    width: 2px;
    height: 550px;
    background-color: rgb(100, 101, 109, 40%);
}

.list {
    margin-top: 20px;
}

.sidebarcontent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 35px;
}

.customerPages .sidenavbtn {
    display: block;
    color: var(--theme-grey);

    padding: 7px;
    width: 200px;
    margin-right: 28px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.sidenavbtn.selected {
    background-color: #dddddd;
    font-weight: 600;
}

/******************** Styles of My reservations **********************/
.cust.new-res .goBackBtn {
    padding: 5px;
    width: 130px;
    margin-bottom: 10px;
}

.cust.my-reservations {
    width: 100%;
    padding-right: 30%;
    height: calc(100vh - 200px);
    overflow-y: auto;

}

.outer-container .newResBtn {
    padding: 7px;
    width: 170px;
    float: right;
    margin-left: auto;
    margin-bottom: 20px;
}

.cust.my-reservations .top-container {
    width: 80%;
    max-width: 700px;
    align-self: center;
}

.cust.my-reservations .sub-container {
    align-self: center;
    margin: 12px;
    height: min-content;
    width: 80%;
    min-width: 500px;
    max-width: 700px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.cust.my-reservations .sub-container .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: auto;
    padding-bottom: 0;
}

.cust.my-reservations .sub-container .btn-container .btn {
    font-weight: 500;
    padding: 5px;
    width: 120px;
    margin-top: 10px;
}

.cust.my-reservations .sub-container .row {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto 120px;
    gap: 0 15px;
}

.cust.my-reservations .sub-container .row-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.cust.my-reservations .sub-container .date-box {
    border-radius: 6px;
    height: max-content;
    background-color: var(--theme-lightgrey);
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.cust .text-group span,
.cust .date-box span {
    display: block;
    width: 100%;
}

.cust .sub-container .text-group {
    margin-bottom: 15px;
}

.cust .sub-container .status-tag {
    margin: 5px 0;
}

.cust .text-group .title {
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-grey);
}

.cust .text-group .content {
    font-size: 17px;
    font-weight: 600;
    color: var(--theme-black);
}

.cust .text-group .description {
    font-size: 17px;
    font-weight: 400;
    color: var(--theme-black);
}

.cust .date-box .time {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.cust .date-box .mondate {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--theme-purple);
}

.cust .date-box .year {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--theme-grey);
}

.cust .desc-container {
    margin-top: 20px;
}

/******************** Styles of Add New reservations **********************/

.cust.new-res .main-container {
    max-width: 600px;
    /* max-height: fit-content; */
    margin: 20px auto;
}

.cust.new-res h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cust.new-res .service-container {
    padding: 30px;
}

.cust.new-res .service-container .top-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
}

.cust.new-res .service-container .service,
.cust.new-res .service-container .duration {
    order: 1;
}

.cust.new-res .service-container .date,
.cust.new-res .service-container .start-time {
    order: 2;
}

.cust.new-res .service-container .ser-provider {
    order: 3;
}

.cust.new-res .service-container .left-box {
    width: 400px;
    flex-basis: auto;
}

.cust.new-res .service-container .right-box {
    flex-basis: 110px;
}

.text-group,
.dropdown-group {
    margin-bottom: 20px;
}

.remarks {
    height: 60px;
}

.last-group {
    margin-bottom: 0 !important;
}

@media (max-width: 620px) {
    .cust.new-res .service-container {
        padding: 20px;
    }

    .cust.new-res .service-container .service {
        order: 1;
    }

    .cust.new-res .service-container .ser-provider {
        order: 2;
    }

    .cust.new-res .service-container .start-time,
    .cust.new-res .service-container .duration {
        order: 3;
    }

    .cust.new-res .service-container .left-box {
        min-width: 100%;
    }

    .cust.new-res .service-container .right-box {
        min-width: 47.5%;
    }
}

/* .summary-container {
    padding: 15px;
    width: 50%;
    margin: 30px 0 20px auto;
}

.summary-container .title {
    font-weight: 600;
    font-size: 17px;
}

.summary-container div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.summary-container label {
    font-weight: 500;
    font-size: 14px;
}

.summary-container span {
    font-weight: 400;
    font-size: 14px;
} */

.addResBtnCust {
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    float: right;
    width: 200px;
}

.provide-feedback .modal-box .ratingBox {
    width: 100px;
}
