/* ------ This is stylesheet is for homePage------------- */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */
html{
   scroll-behavior: smooth;
}

body{
   overflow-x: hidden;
}

/* Special Button Design */
.customerPages .btn-landing {
   border: 2px solid var(--theme-red);
   border-radius: 6px;
   padding: 5px 10px;
   color: var(--white);
   background-color: transparent;
   background-image: linear-gradient(45deg, var(--theme-red) 50%, transparent 50%);
   background-size: 500%;
   background-position: 100%;
   transition: background 0.3s ease-in;
   cursor: pointer;
}

.customerPages .btn-landing:hover {
   background-position: -1px;
}

.customerPages .btn-landing a {
   text-decoration: none;
   color: var(--white);
}

.customerPages .btn-landing span {
   display: block;
   font-size: 14px;
}

/* End Special Button Design */

.landingPage header {
   min-height: 100vh;
   background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../../public/imgs/bg2.jpeg);
   background-position: top;
   background-size: cover;
   background-attachment: fixed;
}

/* Header Navigation */

.customerPages nav {
   display: flex;
   width: 100%;
   height: 100px;
   padding: 20px 30px 10px 30px;
   align-items: center;
   justify-content: space-between;
   z-index: 5;
}

.landingPage nav{
   position: fixed;
   transition: 0.2s ease-in-out;
}

.customerPages nav.black {
   background-color:var(--theme-black) ;
   opacity: 0.95;
}

.customerPages nav .logo {
   height: 100%;
   
}

.customerPages nav .logo a {
   display: block;
   height: 100%;
}

.customerPages nav .logo img {
   height: 70px;
   transition: 0.2s ease-in-out;
}

.customerPages nav .links {
   height: 100%;
}

.customerPages nav .links ul {
   height: 100%;
}

.customerPages nav .links ul li {
   display: inline-block;
   height: 100%;
   list-style: none;
   margin: 0 35px;
   padding-top: 20px;
   position: relative;
}

.customerPages nav .links ul li::after {
   content: '';
   width: 0%;
   height: 2px;
   background: var(--theme-red);
   display: block;
   margin: auto;
   transition: 0.3s;
}

.customerPages nav .links ul li:hover::after {
   color: var(--white);
   width: 100%;
}

.customerPages nav .links ul li:hover a {
   color: var(--white);
}

.customerPages nav .links ul li a {
   text-decoration: none;
   color: #DDDDDD;
   font-size: 16px;
   letter-spacing: 0.5px;
   transition: 0.3s;
}

.customerPages nav .buttons {
   height: 100%;
   display: flex;
   align-content: center;
}

.customerPages nav .btnLogin,
.customerPages nav .btnRegister {
   height: 35px;
   align-self: center;
   margin-left: 25px;
   /* display: none; */
}

.customerPages nav .buttons .profileIcon {
   border-radius: 100%;
   height: 48px;
   padding: 2px;
   border: 2px solid transparent;
   display: flex;
   align-self: center;
   transition: 0.3s ease-in-out;
   /* display: none; */
}


.customerPages nav .buttons .profileIcon img {
   height: 40px;
   border-radius: 100%;
   align-self: center;
}

.customerPages nav .buttons .profileIcon:hover {
   border: 2px solid var(--theme-red);
}

.customerPages nav .links .closeBtn {
   display: none;
   margin: 25px;
   cursor: pointer;
}

.customerPages nav .buttons .menuBtn {
   margin-left: 25px;
   display: none;
   cursor: pointer;
   align-self: center;
}


@media(max-width: 1150px) {
   .customerPages nav .links .closeBtn {
      display: block;
   }

   .customerPages nav .buttons .menuBtn {
      display: block;
   }

   .customerPages nav .links {
      position: absolute;
      height: 100vh;
      width: 260px;
      background: #0B0E1D;
      top: 0;
      right: -260px;
      z-index: 2;
      transition: 0.7s ease-in-out;
   }

   .customerPages nav .links ul {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .customerPages nav .links ul li {
      height: 60px;
      margin: 0px;
      padding: 0;
   }
}

@media(max-width: 550px) {
   .customerPages nav {
      height: 80px;
   }

   .customerPages nav .logo img {
      height: 50px;
   }

   .customerPages nav .btnRegister {
      display: none;
   }
}

@media(max-width: 375px) {
   .customerPages nav .btnProfile {
      max-width: 80px;
   }
}

/* End Header Navigation */


/* Profile menu */
.customerPages .profile_menu {
   position: fixed;
   top: 110px;
   right: 10px;
   padding: 20px 28px;
   width: 225px;
   border-radius: 6px;
   background-color: var(--white);
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
   transition: 0.3s;
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
}

.customerPages .profile_menu ul li {
   list-style: none;
   padding: 6px 0;
   font-size: 16px;
   font-weight: 500;
   /* border-top: 1px solid rgba(0, 0, 0, 0.07); */
}

.customerPages .profile_menu ul li i {
   width: 15px;
   margin-right: 8px;
   transition: 0.5s;
   color: var(--theme-grey);
}

.customerPages .profile_menu ul li a {
   text-decoration: none;
   transition: 0.4s;
   color: var(--theme-grey);
   opacity: 0.95;
}

.customerPages .profile_menu ul li:hover a,
.customerPages .profile_menu ul li:hover i {
   color: var(--theme-red);
   opacity: 1;
}

.customerPages .profileIcon.active {
   border: 2px solid var(--theme-red) !important;
}

.customerPages .profile_menu.active {
   top: 82px;
   visibility: visible;
   opacity: 1;
}

@media(max-width: 550px) {
   .customerPages .profile_menu.active {
      top: 72px;
   }

}

/* End Profile menu */

/* Header Bottom */
.landingPage .bottom {
   display: flex;
   flex-wrap: wrap;
   height: calc(100vh - 100px);
   width: 100%;
   padding: 30px 50px 80px;
   align-content: flex-end;
}

.landingPage .bottom .text {
   line-height: 110px;
   width: 750px;
   font-size: 96px;
   font-weight: 700;
   color: var(--white);
   
}

/* .landingPage .bottom .text span{
font-family: 'Philosopher',sans-serif;
} */

.landingPage .bottom .red {
   color: var(--theme-red);
}

.landingPage .bottom .break {
   flex-basis: 100%;
   height: 0;
}

.landingPage .bottom .btnMakeRes {
   font-weight: 400 !important;
   font-size: 18px;
   letter-spacing: 0.6px;
   margin-top: 15px;
   display: block;
   height: max-content;
   padding: 10px 30px;
   cursor: pointer;
}

@media(max-width: 768px) {
   .landingPage .bottom {
      text-align: center;
      justify-content: center;
      position: absolute;
      padding-bottom: 200px;
   }

   .landingPage .bottom .text {
      width: 600px;
      font-size: 80px;
      line-height: 95px;
   }
}

@media(max-width: 550px) {
   .landingPage .bottom .text {
      font-size: 60px;
      line-height: 60px;
   }
}

@media(max-width: 375px) {
   .landingPage .bottom .text {
      font-size: 50px;
      line-height: 50px;
   }
}

/* End Header Bottom */

.sub-section {
   padding: 80px 60px 30px;
   min-height: 100vh;
}

@media(max-width: 680px) {
   .sub-section {
      padding: 20px 20px;
      min-height: 100vh;
   }
}

.sub-section .title {
   display: block;
   font-family: 'Philosopher',sans-serif;
   margin: 0 auto 40px;
   text-align: center;
   font-size: 64px;
   font-weight: 700;
   text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}

@media(max-width: 768px) {
   .sub-section .title {
      font-size: 45px;
   }
}

@media(max-width: 550px) {
   .sub-section .title {
      font-size: 35px;
   }
}

@media(max-width: 375px) {
   .sub-section .title {
      font-size: 25px;
   }
}

/* testimonials */
.sub-section.testimonials {
   background-color: var(--white);
}
.sub-section.testimonials .comment-container{
   text-align: center;
  
}

.sub-section.testimonials .comment-container img{
   object-fit: cover;
   width: 150px;
   border-radius: 100%;
}

.sub-section.testimonials .comment-container span{
   display: block;
   width: 600px;
   margin: 20px auto;
}
.sub-section.testimonials .comment-container .name{
   color: var(--theme-red);
   font-weight: 600;
}
/* team cards */
.sub-section.team .card-container{
   height:fit-content;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.sub-section.team .card-outer{
   margin:0 15px 30px;
}

.sub-section.team .card{
   overflow: hidden;
   max-width: 300px;
   /* min-width: 150px; */
   border-radius: 6px;
   background-color: var(--theme-black);
   color:var(--white);
   text-align: center;
   padding-bottom: 15px;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
   transition: 0.3s ease-in-out;
}

.sub-section.team .card:hover{
   transform: translateY(-15px);
}

.sub-section.team .card img{
   object-fit: cover;
   width: 100%;
   height: 310px;
}

.sub-section.team .card h3{
   font-size: 18px;
   margin-top: 8px;
}
.sub-section.team .card span{
   font-weight: 500;
   color:var(--theme-red);
}

@media(max-width: 1200px) {
   .sub-section.team .card{
      max-width: 250px;
   }
}

@media(max-width: 680px) {
   .sub-section.team .card{
      max-width: 300px;
   }
}


/* Footer syles */

footer{
   min-height: 400px;
   height: fit-content;
   width: 100%;
   padding: 20px 15vw;
   color: #ffffff;
   background-color: var(--theme-black);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}

footer .section{
   min-width: 280px;
   max-width: 280px;
   height: 100%;
   margin: 30px;

}

footer h2{
   font-family: 'Philosopher',sans-serif;
   margin-bottom: 20px;
}

footer ul{
   list-style: none;
}

footer ul li{
   display: flex;
   align-items: center;
}

footer .logo-section .logo{
   width: 180px;
}

footer .logo-section .description{
   display: block;
   margin: 30px 0;
}

footer .social-icon-container img{
   width: 35px;
   height: 35px;
   margin-right: 25px;
}

footer .contact-section ul li span{
   margin-left: 8px;
   display: inline;
}

footer .contact-section li{
   padding-bottom: 20px;
}

footer .time-section li{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

@media(max-width: 500px) {
   footer{
      padding: 20px calc(50vw - 140px);
   }

   footer .section{
      margin: 30px 0;
   }
}


/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */
