
/* ------------------------------------------------------ */
/* -----------STYLES ADDED BY Ruwanthi footer ------------*/
/* ------------------------------------------------------ */

.homepagefooter{
   padding: 50px 20px;
    height: 320px !important;
    width: 100%;
    background-color: #323232;
    color: white;
    display: flex;
    flex-direction: row;
}
.homefooterleft{
   width: 36%;
   height: 100%;
}

.homefooterleft img{
   width: 360px;
}
.footerlogosection{
padding: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100%;
   width: 100%;
   
}

.homefooterright{
width: 36%;
padding-left: 170px;
}
.homefootermiddle{

width: 28%;
height: 100%;

}
.homefootermiddledata{
   display: block;
   flex-direction: column;
   align-items: left;
   margin: auto;
 justify-content: center;
   margin-left: 170px;
   height: 100%;
   width: 100%;
}
.footersection4{
   display: flex;
   justify-content: space-around;
   width: 40%;
}


.footerdatesection{
   display: flex;
   height: 100%;
  
   
}

.footerrighttitle{
   padding: 10px 0px;
   font-weight: 600;
}

.footersection1{
   padding: 7px 10px;
   font-weight: 600;
}
.footersection3{
   padding: 7px 10px;
   font-size: 14.5px;
}
.footersection2{
   padding: 5px 10px;
}
.homefooterright-right{
   margin-left: 30px;
}
/* ------------------------------------------------------ */
/* -----------End STYLES ADDED BY Ruwanthi footer --------*/
/* ------------------------------------------------------ */