/* -----------Grid template for fullscreen--------------- */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

.layout-template-2 {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 80px calc(100vh - 115px) 35px;
   grid-template-areas:
      "header"
      "content"
      "footer";
}

.layout-template-2 header {
   grid-area: header;
   display: flex;
   justify-content: center;
}

.layout-template-2 header>div {
   height: 100%;
}

.layout-template-2 .header-center {
   justify-content: center;
   width: calc(100vw - 90px);
   padding-left: 70px;
   background-color: coral;
}

.layout-template-2 .header-right {
   justify-content: center;
   width: 70px;
   background-color: deeppink;
}

.layout-template-2 .content {
   grid-area: content;
   background-color: darkorchid;
}

.layout-template-2 footer {
   grid-area: footer;
}

/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */