.reqleave-date-section{
    height: 80px;
}
.reqleave-reason-section{
    height: 130px;
}
.reqleave-button-section{
    height: 75px;
}

input.dateValidationMsg{
border:none;
}

span.error.request-date-error,span.error.request-date-error1{
    height: 20px;
}
