* {
    box-sizing: border-box;
}

body {
    background: var(--theme-bgwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "poppins";
    height: 100vh;
    margin: -20px 0 50px;
}
