
.mang-sub-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mang-sub-container-card{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-color: var(--white);
    justify-content: space-around;
    text-align: center;
    align-content: center;
    padding: 20px;
    width: 250px;
    height: 125px;
    margin: 10px 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.mang-sub-container-card-title{
    color: rgb(126, 126, 126);
    font-size: 1.1rem;
    text-align: center;
}

.mang-sub-container-card-amount{
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
}

.mang-sub-container2,
.mang-sub-container3{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    width: 100%;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mang .chart-container,
.table-container{
    padding: 40px;
    width: 50%;
    height: 50%;
    justify-content: space-around;
}

.mang .chart-head,
.table-head{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 10px;
}

/* table of overall analytics */
.mang .table-cont{
    background-color: var(--white);
    padding: 10px 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.mang table{
    /* table-layout: fixed; */
    width: 100%;
}
.mang td ,th{
    padding: 5px 5px;
}
.mang td{
    border-top: 2px solid #eaeaea;
}
/* End of table of overall analytics */

.align-right{
    float: right;
}
.align-left{
    float: left;
}

/* search box container */
.mang .select-box-container{
    display: flex;
    padding: 10px 10px;
    width: 250px;
}
.mang input[type = "text"] {
    width: 220px;
    height: 50px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
 }
 .mang input[type = "date"]{
    width: 220px;
    height: 50px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
 }
 .mang select {
    width: 220px;
    height: 50px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
 }
.mang .searching-btn{
    width: 200px;
    height: 50px;
    background-color: #252631;
    margin-top: 29px;
    border-radius: 6px;
    color: var(--white);
    font-size: 20px;
}
/* End of search box container */

/* for card */
@media screen and (max-width: 1305px) {
    .mang-sub-container-card{
        width: 400px;
    }
    /* .mang-sub-container-card-amount{
        margin-top: 10%;
    } */

}
/* for card */
@media screen and (max-width: 768px) {
    .mang-sub-container-card{
        width: 270px;
    }
    .mang-sub-container-card-amount{
        margin-top: 10%;
    }
    .mang .chart-container{
        width:500px;
        flex-wrap: wrap;
    }
    .mang .table-container{
        width: 400px;
    }
}
/* for table */
@media screen and (max-width: 1296px) {
    .mang .table-container{
        width: 560px;
    }
    
}
/* for chart */
@media screen and (max-width: 1099px) {
    .mang .chart-container{
        width:500px;
        flex-wrap: wrap;
    }

}