/* ------------Styles of the modal template------------- */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

.modal-container {
   background-color: rgba(0, 0, 0, 0.3);
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   visibility: hidden;
}

.modal-box {
   padding: 30px 50px;
   background-color: white;
}

.normal .modal-box {
   border-radius: 6px;
   width: 600px;
   max-width: 100%;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.full .modal-box {
   width: 100vw;
   height: 100vh;
}

.modal-container.show {
   visibility: visible;
}

/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */