/* -----------Styles of the newReservation--------------- */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

.contentNewRes {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 2fr;
  grid-template-areas:
    "resDetails cusDetails"
    "notes cusDetails";
}

.contentNewRes>div {
  margin: 15px;
}

.contentNewRes .resDetails {
  grid-area: resDetails;
  /* background-color: lavender; */
}

.contentNewRes .resDetails .addAnother {
  display: flex;
  /* height: ; */
  justify-content: center;
  grid-area: resDetails;
  color: var(--theme-blue);
  font-weight: 500;
}

.contentNewRes .cusDetails {
  grid-area: cusDetails;
  /* background-color: lightyellow; */
}

.contentNewRes .notes {
  grid-area: notes;
  /* background-color: palevioletred; */
}


/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */