.ownOverviewCardContainer .sub-container-card{
    width: 450px;
    overflow: hidden;
    height: 150px;
}
.ownOverviewCardContainer .ownOverviewContainerCard3 .sub-container-card{
    width: 1100px;
    height: 60px;
}
.ownOverviewCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'ownOverviewContainerCard1 ownOverviewContainerCard2'
    'ownOverviewContainerCard3 ownOverviewContainerCard3';
    justify-items: center;

}

.ownOverviewContainerCard1{
    grid-area: ownOverviewContainerCard1;
}

.ownOverviewContainerCard2{
    grid-area: ownOverviewContainerCard2;
}
.ownOverviewContainerCard3{
    grid-area: ownOverviewContainerCard3;
    padding: 10px 0 20px 0;
}

.ownOverviewCharts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'ownOverviewChart1 ownOverviewChart2 ownOverviewChart3';

}

.ownOverviewChart1{
    grid-area: ownOverviewChart1;
}
.ownOverviewChart2{
    grid-area: ownOverviewChart2;
}
.ownOverviewChart3{
    grid-area: ownOverviewChart3;
}