/* -----------Styles for Remove Staff--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */
.ownRemCusHead {
    padding-bottom: 10px;
    text-align: center;
 }

 .container {
  
    width: 40%;
    min-width: 330px;
    background-color: #ffffff;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    /* position: absolute; */
    align-items: center;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);  

 }

.ownRemCusLabel1,
.ownRemCusLabel2{ 
     font-size: 14px;
     font-weight: 600;
     text-align: start;
 }
 .ownRemCusData1,
 .ownRemCusData2
 {
    font-size: 14px;
    font-weight: 600;
    color: #50515A;
    text-align: start;
 }
.ownRemCusDetails{
   text-align: center;
   align-items: end;
}


.ownRemCusErrortext {
     font-size: 10px;
     color: red ;
     padding-top: 5px;
 }
.ownRemCusError{
    text-align: center;
}
 button {
    border: none;
    padding: 7px 20px;
    background: linear-gradient(130deg,
          #037AFF,
          #037AFF);
    color: #ffffff;
    border-radius: 6px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
 }

 .ownRemCusbtn1 .btn{
     background: #EAEAEA;
     color: black;
 }
 
.ownRemCusDetails{
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    'ownRemCusLabel1 ownRemCusData1'
    'ownRemCusLabel2 ownRemCusData2';
}
.ownRemCusError{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    'ownRemCusErrortext';
    
}
.ownRemCusButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'ownRemCusbtn1 ownRemCusbtn2';
    text-align:  center;
    padding-top: 5px;
}


.ownRemCusLabel1{
    grid-area: ownRemCusLabel1;
}
.ownRemCusData1{
    grid-area: ownRemCusData1;
}
.ownRemCusLabel2{
    grid-area: ownRemCusLabel2;
}
.ownRemCusData2{
    grid-area: ownRemCusData2;
}
.ownRemCusErrortext{
    grid-area: ownRemCusErrortext;
}
.ownRemCusbtn1{
    grid-area: ownRemCusbtn1;

    
}
.ownRemCusbtn2{
    grid-area: ownRemCusbtn2;
}
 
 
 /* ------------------------------------------------------ */
 /* -----------END OF STYLES ADDED BY RAVINDU--------------*/
 /* ------------------------------------------------------ */