/* -----------Styles for Resources--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */

/* --------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------ */
/* -----------Styles for Remove Resources Starts--------------- */
/* ------------------------------------------------------------ */
.ownRemResHead{
    padding-bottom: 10px;
    text-align: center;
 }
 .ownResRem_ResourceDeatils{
     text-align: center;
     color: #50515A;
 }
 .ownResRemButtons{
     padding-top: 20px;
 }
 .ownResRemBtn1 .btn{
    background: #EAEAEA;
    color: black;
}
.ownResRemButtons{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'ownResRemBtn1 ownResRemBtn2';
    text-align: center;
}
.ownResRemBtn1{
    grid-area: ownResRemBtn1;
}
.ownResRemBtn2{
    grid-area: ownResRemBtn2;
}

/* ---------------------------------------------------------- */
/* -----------Styles for Remove Resources Ends--------------- */
/* ---------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* -----------Styles for Add Resources Starts------------------ */
/* ------------------------------------------------------------ */

#ownResAddContainer{
        width: 500px;
        height: 400px;
}
.ownResAddHead{
    text-align: center;

}

.ownResAddDetails{
    text-align: center;
    padding-top: 40px;
}
.ownResAddLabel1,
.ownResAddLabel2{
   
    font-size: 16px;
    font-weight: 600;  
}
/* .ownResAddLabel2{
    padding-top: 30px;
} */
.ownResAddDetail1,
.ownResAddDetail2{
  text-align: center;
}
.ownResAddDetail2{
    padding-top: 10px;
}
.ownResAddLabeltext{
    border-radius: 6px;
    width: 200px;
    height: 40px;
}
.ownResAddDetail1 input[type="text"],
.ownResAddDetail2 input[type="text"] {

    background-color : #EAEAEA; 
    text-align: center;
    Border : none;
  
  }
.ownResAddBtn1 .btn{
    background: #EAEAEA;
    color: black;
}
.ownResAddButtons{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'ownResAddBtn1 ownResAddBtn2';
    text-align: center;
    padding-top: 60px;
}
.ownResAddBtn1{
    grid-area: ownResAddBtn1;
}
.ownResAddBtn2{
    grid-area: ownResAddBtn2;
    
}
.ownResAddBtn2 .btn{
    background: #3ABD5F;
}


