/* -----------Styles for Resources--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */

/* --------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------ */
/* -----------Styles for Remove Resources Starts--------------- */
/* ------------------------------------------------------------ */
#ownResRemContainer{
    width: 500px;
        height: 200px;
}
.ownRemResHead{
    padding-bottom: 10px;
    text-align: center;
 }
 .ownResRem_ResourceDeatils{
     text-align: center;
     color: #50515A;
 }
 .ownResRemButtons{
     padding-top: 20px;
 }
 .ownResRemBtn1 .btn{
    background: #EAEAEA;
    color: black;
}

.ownResRemButtons{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'ownResRemBtn1 ownResRemBtn2';
    text-align: center;
}
.ownResRemBtn1{
    grid-area: ownResRemBtn1;
    padding-left: 20px; 
}
.ownResRemBtn2{
    grid-area: ownResRemBtn2;
    padding-right: 20px; 
}


/* ---------------------------------------------------------- */
/* -----------Styles for Remove Resources Ends--------------- */
/* ---------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* -----------Styles for Add Resources Starts------------------ */
/* ------------------------------------------------------------ */

#ownResAddContainer{
        width: 500px;
        height: 300px;
}
.ownResAddHead{
    text-align: center;

}

.ownResAddDetails{
    text-align: left;
    padding-top: 40px;
}
.ownResAddLabel1,
.ownResAddLabel2{
   
    font-size: 16px;
    font-weight: 600; 
    margin-bottom: 10px;
}
#ownResAddQuantity{
    margin: 0;
}

.ownResAddDetail1,
.ownResAddDetail2{
  text-align: left;
}

.ownResAddLabeltext{
    border-radius: 6px;
    width: 200px;
    height: 40px;
}
.ownResAddDetail1 input[type="text"],
.ownResAddDetail2 #ownResAddQuantity{

    background-color : #EAEAEA; 
    padding-left: 5px;
    Border : none; 
  
  }
  .ownResAddDetail1 input[type="text"]:focus,
  .ownResAddDetail2 #ownResAddQuantity:focus{
        outline: none;
        border-color: #6f6df4;
     }
.ownResAddBtn1 .btn{
    background: #EAEAEA; 
    color: black; 
}
.ownResAddBtn2 .btn{  
    background: #3ABD5F;
}

.ownResAddBtn1{
    padding-left: 20px;    
}
.ownResAddBtn2{
    padding-right: 20px;    
}


.ownResAddDetails{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'ownResAddDetail1 ownResAddDetail2';
}


.ownResAddButtons{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    'ownResAddBtn1 ownResAddBtn2';
    text-align: center;
    padding-top: 60px;
}
.ownResAddBtn1{
    grid-area: ownResAddBtn1;
}
.ownResAddBtn2{
    grid-area: ownResAddBtn2;
    
}
.ownResAddDetail1{
    grid-area: ownResAddDetail1;
}
.ownResAddDetail2{
    grid-area: ownResAddDetail2;
}


/* ------------------------------------------------------------ */
/* -----------Styles for Add Resources Ends------------------ */
/* ------------------------------------------------------------ */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */
