 .ownRatesDate{
     padding-left: 40px;
 }
 .ownRateMonthlabel{
     font-size: 12px;
     font-weight: 600;
 }
 /* Main headings styles */
.ownRatesLeaveLimitHeadbar h1,
.ownRatesCommisionRateHeadbar h1,
.ownRatesMinManagersHeadbar h1,
.ownRatesBasicSalaryHeadbar h1{
    font-size: 16px;
    font-weight: 250px;
    padding-left: 10px;
}
/* Leave Limits styles */
.ownRatesLeaveLimitsLabel{
    font-size: 14px;
    font-weight: 400;
    color: #50515A;
    padding-left: 10px;
}
.ownRatesLeaveLimitsText{
    text-align: center;
}
.ownRatesLeaveLimitsDetails input{
    float: right;
    /* border-radius: 6px; */
    border: none;
    background-color: #EAEAEA;
}
.ownRatesLeaveLimitsDetails{
    padding-top: 20px;
}

/* commision rate styles */
/* Minimum Managers styles */
.ownRatesComissionRate input,
.ownRatesMinManagers input{
    
    border: none;
    background-color: #EAEAEA;
    height: 30px;
}
.ownRatesCommisionRateDetails,
.ownRatesMinManagersDetails{
    text-align: center;
    padding-top: 40px;
}
.ownRatesCommisionRateText,
.ownRatesMinManagersText{
    text-align: center;
}
/* Basic salary styles */
.ownRatesBasicSalaryHeadbar{
    padding-left: 10px;
    padding-top: 20px;
}

.ownRatesBasicSalary1 input,
.ownRatesBasicSalary2 input,
.ownRatesBasicSalary3 input{
    border: none;
    background-color: #EAEAEA;
    height: 30px;
}
.ownRatesBasicSalarytext1,
.ownRatesBasicSalarytext2,
.ownRatesBasicSalarytext3{
    text-align: center;
    padding-top: 20px;
}
.ownRatesBasicSalaryText{
    text-align: center;
}

.ownRatesBasicSalary1,
.ownRatesBasicSalary2,
.ownRatesBasicSalary3{
    color: #50515A;
    font-weight: 500;
    text-align: center;
}

/* grid styles */

.ownRatesLeaveLimit,
.ownRatesComissionRate,
.ownRatesMinManagers{
    height: 150px;
    width: 350px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 4px  #dad6d6;    
}
.ownRatesBasicSalary{
    height: 200px;
    width: 1096px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 4px  #dad6d6; 
    
}
.ownRatesBasicSalaryContainer{
    padding-left: 60px;
}

.ownRateGridArea2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px 40px; */
    grid-template-areas: 
    'ownRatesLeaveLimit ownRatesComissionRate ownRatesMinManagers';
    justify-content: center;
    padding: 40px;

}

.ownRatesBasicSalary{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    'ownRatesBasicSalaryHeadbar'
    'ownRatesBasicSalaryContent';
    
}

.ownRatesBasicSalaryContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'ownRatesBasicSalary1 ownRatesBasicSalary2 ownRatesBasicSalary3';
    justify-content: center;
}

.ownRatesLeaveLimit{
    grid-area: ownRatesLeaveLimit;
    padding: 10px;
}

.ownRatesComissionRate{
    grid-area: ownRatesComissionRate;
    padding: 10px;
}
.ownRatesMinManagers{
    grid-area: ownRatesMinManagers;
    padding: 10px;
}

.ownRatesBasicSalary{
    grid-area: ownRatesBasicSalary;
}
.ownRatesBasicSalaryHeadbar{
    grid-area: ownRatesBasicSalaryHeadbar;
}
.ownRatesBasicSalaryContent{
    grid-area: ownRatesBasicSalaryContent;
}

.ownRatesBasicSalary1{
    grid-area: ownRatesBasicSalary1;
}
.ownRatesBasicSalary2{
    grid-area: ownRatesBasicSalary2;
}
.ownRatesBasicSalary3{
    grid-area: ownRatesBasicSalary3;
}

