/*------------------------------------- Common Styles for owner starts --------------------------------------------*/
.ownAddGreenButton {
    background-color: #1BC657;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    width: 130px;
    border: none;
    padding: 7px 20px;
    border-radius: 6px;
}

.ownProceedBlueButton {
    background-color: var(--theme-blue);
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    width: 130px;
    border: none;
    padding: 7px 20px;
    border-radius: 6px; 
}

.ownCancelButton {
    background-color: var(--theme-lightgrey);
    color: black;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    width: 130px;
    border: none;
    padding: 7px 20px;
    border-radius: 6px;
}

/* ########################################### */

.own.customers .ownRemCusButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ownRemCusbtn1 ownRemCusbtn2';
    text-align: center;
    padding-top: 10px;
}


.own.customers .ownRemCusLabel1 {
    grid-area: ownRemCusLabel1;
}

/* ########################################### */

/* common Model Styles starts */
.commonModelHead {
    /* padding: 20px; */
    text-align: center;
}

/* .commonModelDetails{
    text-align: center;
} */
/* .commonModelDetailsLabel{
    padding-bottom: 20px;
} */

.commonModelDetailsLabel {
    font-weight: 600;
}

.commonModelContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    grid-template-areas:
        'commonModelHead'
        'commonModelDetails'
        'commonModelButtons';
}

.commonModelDetails {
    grid-area: commonModelDetails;
}

.commonModelButtons {
    grid-area: commonModelButtons;
}

.commonModelHead {
    grid-area: commonModelHead;
}

.commonModelButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-areas:
        'commonModelBtn1 commonModelBtn2';
}

.commonModelBtn1 {
    grid-area: commonModelBtn1;
    justify-self: right;
}

.commonModelBtn2 {
    grid-area: commonModelBtn2;
    justify-self: left;
}





/* common Model Styles ends */

/* #################################################################################################################### */
.modal-container.normal.addItems {
    width: 600px;
}

.addItemsModalHead {
    text-align: center;
}

.addItemsModalLable {
    font-size: 14 px;
    font-weight: 600;
    text-align: start;
}

/* ?????????????????????????????????? */
.addItemsModalDetail1 {
    display: inline-block;
    padding-bottom: 15px;
}

/* ?????????????????????????????????? */

.addItemsModalnGrid1 input[type="date"],
#addItemsModalTextArea,
.own select {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: none;
    background-color: #EAEAEA;
    margin-top: 5px;
}

#addItemsModalTextArea {
    width: 500px;
    resize: none;
}

.addItemsModalGrid1 input:focus,
#addItemsModalTextArea:focus {
    border-color: none;
    outline: none;
}

.addItemsModalErrortext {
    font-size: 14px;
    color: #DA2346;
    padding-right: 50px;
    font-weight: 600;
}

.addItemsModalMessage {
    font-size: 14px;
    padding-top: 5px;
    font-weight: 600;
}

.addItemsModalErrorViewReservaions {
    color: #037AFF;
    text-align: start;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

.addItemsModalGrid1 {
    padding-top: 20px;
}

.addItemsModalGrid2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.addItemsModalGrid3 {
    display: grid;
    padding-top: 20px;
    justify-self: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'ownCloseSalonbtn1 ownCloseSalonbtn2'
}


.modal-container.normal.addItems .addItemsModalbtn1 {
    grid-area: addItemsModalbtn1;
    justify-self: center;

}

.modal-container.normal.addItems .addItemsModalbtn2 {
    grid-area: addItemsModalbtn2;
    justify-self: center;
}





/* #################################################################################################################### */


/*-------------------------------------- Common styles for owner ends --------------------------------------------*/


/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */

/*####################################################################################################################################################
Owner Overview Starts
##################################################################################################################################################### */



.mang-sub-container-card{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-color: var(--white);
    justify-content: space-around;
    text-align: center;
    align-content: center;
    padding: 20px;
    width: 250px;
    height: 125px;
    margin: 10px 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.mang-sub-container-card-title{
    color: rgb(126, 126, 126);
    font-size: 1.1rem;
    text-align: center;
}

.mang-sub-container-card-amount{
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
}
.own.overview .ownOverviewContainerCard1,
.own.overview .ownOverviewContainerCard2 {
    /* width: 250px;
    height: 125px;
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-color: var(--white);
    justify-content: space-around;
    text-align: center;
    align-content: center;
    padding: 20px;
    width: 250px;
    height: 125px;
    margin: 10px 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.own.overview .CardTitle {
    text-align: center;
    color: #50515A;
    padding-top: 20px;
}

.own.overview .CardAmmount {
    text-align: center;
    padding-top: 20px;
}

.own.overview .ownOverviewContainerCard3 {
    width: 100px;
    height: 60px;
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.own.overview .ownOverviewCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ownOverviewContainerCard1 ownOverviewContainerCard2'
        'ownOverviewContainerCard3 ownOverviewContainerCard3';
    justify-items: center;
}

.own.overview .ownOverviewContainerCard1 {
    grid-area: ownOverviewContainerCard1;
}

/* .own.overview .ownOverviewContainerCard1:hover,
.own.overview .ownOverviewContainerCard2:hover{
        background-color: #037AFF;
        color: white;
        box-shadow: 0px 0px 12px  #037AFF ;
        transition: 0.3s;
} */
.own.overview .ownOverviewContainerCard2 {
    grid-area: ownOverviewContainerCard2;
}

.own.overview .ownOverviewContainerCard3 {
    grid-area: ownOverviewContainerCard3;
    padding: 10px 0 20px 0;
}

.ownOverviewChart {
    display: flex;
    height: 250px;
    align-items: center;
}

#ownOverviewChartAvailableEmployees,
#ownOverviewChartIncome,
#ownOverviewChartSalaryStatus {
    width: 400px;
    height: 200px;
}

.own.overview .ownOverviewCharts {
    display: flex;
    justify-content: center;
}

/*####################################################################################################################################################
Owner Overview Ends
##################################################################################################################################################### */





/*#####################################################################################################################################################
Close Salon Starts
##################################################################################################################################################### */

#ownCloseSalonContainer {
    width: 600px;
}

.own.close-salon .ownCloseSalonHead {
    text-align: center;
}

.own.close-salon .ownCloseSalonLable {
    font-size: 14 px;
    font-weight: 600;
    text-align: start;
}

/* ?????????????????????????????????? */
.own.close-salon .ownCloseSalonDetail1 {
    display: inline-block;
    padding-bottom: 15px;
}

/* ?????????????????????????????????? */

.own.close-salon .ownCloseSalonGrid1 input[type="date"],
#ownCloseSalonTextArea,
.own select {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: none;
    background-color: #EAEAEA;
    margin-top: 5px;
}

#ownCloseSalonTextArea {
    width: 500px;
    resize: none;
}

.own.close-salon .ownCloseSalonGrid1 input:focus,
#ownCloseSalonTextArea:focus {
    border-color: none;
    outline: none;
}

.own.close-salon .ownCloseSalonErrortext {
    font-size: 14px;
    color: #DA2346;
    padding-right: 50px;
    font-weight: 600;
}

.own.close-salon .ownCloseSalonMessage {
    font-size: 14px;
    padding-top: 5px;
    font-weight: 600;
}

.own.close-salon .ownCloseSalonErrorViewReservaions {
    color: #037AFF;
    text-align: start;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

.ownCloseSalonGrid1 {
    padding-top: 20px;
}

.ownCloseSalonGrid2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.own.close-salon .ownCloseSalonGrid3 {
    display: grid;
    padding-top: 20px;
    justify-self: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'ownCloseSalonbtn1 ownCloseSalonbtn2'
}


.own.close-salon .ownCloseSalonbtn1 {
    grid-area: ownCloseSalonbtn1;
    justify-self: center;

}

.own.close-salon .ownCloseSalonbtn2 {
    grid-area: ownCloseSalonbtn2;
    justify-self: center;
}


/* 
#####################################################################################################################################################
Close Salon ends
##################################################################################################################################################### */





/* 
#####################################################################################################################################################
Customers Starts
##################################################################################################################################################### */

/* -----------Styles for Remove Customer--------------- */

.own.customers .modal-box {
    display: grid;
    justify-content: center;
    width: 500px;
}

.own.customers .ownRemCusHead {
    padding-bottom: 20px;
    text-align: center;
}

.own.customers .container {

    width: 40%;
    min-width: 330px;
    background-color: #ffffff;
    padding: 35px 50px;
    margin-left: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.own.customers .ownRemCusLabel1,
.own.customers .ownRemCusLabel2 {
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    padding-left: 30px;
    color: #50515A;
}

.own.customers .ownRemCusData1,
.own.customers .ownRemCusData2 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}

.own.customers .ownRemCusDetails {
    text-align: center;
    align-items: center;
}


.own.customers .ownRemCusErrortext {
    padding-top: 5px;
    font-size: 14px;
    color: #DA2346;
    font-weight: 600;
}

.own.customers .ownRemCusError {
    text-align: center;
    padding-bottom: 20px;
}

.own.customers .ownRemCusDetails {
    display: grid;
    width: 400px;
    padding-left: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'ownRemCusLabel1 ownRemCusData1'
        'ownRemCusLabel2 ownRemCusData2';
}

.own.customers .ownRemCusError {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'ownRemCusErrortext';
}

.own.customers .ownRemCusButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ownRemCusbtn1 ownRemCusbtn2';
    text-align: center;
    padding-top: 10px;
}


.own.customers .ownRemCusLabel1 {
    grid-area: ownRemCusLabel1;
}

.own.customers .ownRemCusData1 {
    grid-area: ownRemCusData1;

}

.own.customers .ownRemCusLabel2 {
    grid-area: ownRemCusLabel2;
}

.own.customers .ownRemCusData2 {
    grid-area: ownRemCusData2;
}

.own.customers .ownRemCusErrortext {
    grid-area: ownRemCusErrortext;
}

.own.customers .ownRemCusbtn1 {
    grid-area: ownRemCusbtn1;
}

.own.customers .ownRemCusbtn2 {
    grid-area: ownRemCusbtn2;
}


/* 
#####################################################################################################################################################
Customers Endss
##################################################################################################################################################### */




/* 
#####################################################################################################################################################
 Rates Starts
##################################################################################################################################################### */


.own.rates .ownRatesDate {
    padding-left: 40px;
}

.ownRatesInputMonth {
    width: 240px;
    border: none;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    place-content: "--Select Month--";
}

.ownRatesInputMonth:focus {
    outline: none;
}

.own.rates .ownRateMonthlabel {
    font-size: 12px;
    font-weight: 600;
}

/* Main headings styles */
.own.rates .ownRatesLeaveLimitHeadbar h1,
.own.rates .ownRatesCommisionRateHeadbar h1,
.own.rates .ownRatesMinManagersHeadbar h1,
.own.rates .ownRatesBasicSalaryHeadbar h1 {
    font-size: 16px;
    font-weight: 250px;
    padding-left: 10px;
}

/* Leave Limits styles */
.own.rates .ownRatesLeaveLimitsLabel {
    font-size: 14px;
    font-weight: 400;
    color: #50515A;
    padding-left: 10px;
}

.own.rates .ownRatesLeaveLimitsText {
    text-align: center;
}

.own.rates .ownRatesLeaveLimitsDetails input {
    float: right;
    /* border-radius: 6px; */
    border: none;
    background-color: #EAEAEA;
}

.own.rates .ownRatesLeaveLimitsDetails {
    padding-top: 20px;
}

/* commision rate styles */
/* Minimum Managers styles */
.own.rates .ownRatesComissionRate input,
.own.rates .ownRatesMinManagers input {
    border: none;
    background-color: #EAEAEA;
    height: 30px;
}

.own.rates .ownRatesCommisionRateDetails,
.own.rates .ownRatesMinManagersDetails {
    text-align: center;
    padding-top: 40px;
}

.own.rates .ownRatesCommisionRateText,
.own.rates .ownRatesMinManagersText {
    text-align: center;
}

/* Basic salary styles */
.own.rates .ownRatesBasicSalaryHeadbar {
    padding-left: 10px;
    padding-top: 20px;
}

.own.rates .ownRatesBasicSalary1 input,
.own.rates .ownRatesBasicSalary2 input,
.own.rates .ownRatesBasicSalary3 input {
    border: none;
    background-color: #EAEAEA;
    height: 30px;
}

.own.rates .ownRatesBasicSalarytext1,
.own.rates .ownRatesBasicSalarytext2,
.own.rates .ownRatesBasicSalarytext3 {
    text-align: center;
    padding-top: 20px;
}

.own.rates .ownRatesBasicSalaryText {
    text-align: center;
}

.own.rates .ownRatesBasicSalary1,
.own.rates .ownRatesBasicSalary2,
.own.rates .ownRatesBasicSalary3 {
    color: #50515A;
    font-weight: 500;
    text-align: center;
}

/* grid styles */

.own.rates .ownRatesLeaveLimit,
.own.rates .ownRatesComissionRate,
.own.rates .ownRatesMinManagers {
    height: 150px;
    width: 350px;
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.own.rates .ownRatesBasicSalary {
    height: 200px;
    width: 1096px;
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.own.rates .ownRatesBasicSalaryContainer {
    padding-left: 60px;
}

.own.rates .ownRateGridArea2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px 40px; */
    grid-template-areas:
        'ownRatesLeaveLimit ownRatesComissionRate ownRatesMinManagers';
    justify-content: center;
    padding: 40px;
}

.own.rates .ownRatesBasicSalary {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'ownRatesBasicSalaryHeadbar'
        'ownRatesBasicSalaryContent';

}

.own.rates .ownRatesBasicSalaryContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'ownRatesBasicSalary1 ownRatesBasicSalary2 ownRatesBasicSalary3';
    justify-content: center;
}

.own.rates .ownRatesLeaveLimit {
    grid-area: ownRatesLeaveLimit;
    padding: 10px;
}

.own.rates .ownRatesComissionRate {
    grid-area: ownRatesComissionRate;
    padding: 10px;
}

.own.rates .ownRatesMinManagers {
    grid-area: ownRatesMinManagers;
    padding: 10px;
}

.own.rates .ownRatesBasicSalary {
    grid-area: ownRatesBasicSalary;
}

.own.rates .ownRatesBasicSalaryHeadbar {
    grid-area: ownRatesBasicSalaryHeadbar;
}

.own.rates .ownRatesBasicSalaryContent {
    grid-area: ownRatesBasicSalaryContent;
}

.own.rates .ownRatesBasicSalary1 {
    grid-area: ownRatesBasicSalary1;
}

.own.rates .ownRatesBasicSalary2 {
    grid-area: ownRatesBasicSalary2;
}

.own.rates .ownRatesBasicSalary3 {
    grid-area: ownRatesBasicSalary3;
}

@media screen and (max-width: 830px) {
    .own.rates .ownRateGridArea2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'ownRatesLeaveLimit'
            'ownRatesComissionRate'
            'ownRatesMinManagers';
    }

    .own.rates .ownRatesBasicSalaryContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'ownRatesBasicSalary1'
            'ownRatesBasicSalary2'
            'ownRatesBasicSalary3';

    }

    .own.rates .ownRatesBasicSalary {
        width: 350px;
        height: 400px;
        justify-self: center;
    }

    .own.rates .ownRatesBasicSalaryContainer {
        padding-left: 0;
    }

}





/* 
#####################################################################################################################################################
 Rates Endss
##################################################################################################################################################### */

/* ---------------------------------------------------------- */
/* -----------Styles for Remove Resources Starts--------------- */
/* ---------------------------------------------------------- */


#ownResRemContainer {
    width: 400px;
    height: 200px;
}

.own.resources .ownRemResHead {
    padding-bottom: 10px;
    text-align: center;
}

.own.resources .ownResRem_ResourceDeatils {
    text-align: center;
    color: #50515A;
}

.own.resources .ownResRemButtons {
    padding-top: 20px;
}

.own.resources .ownResRemBtn1 .btn {
    background: #EAEAEA;
    color: black;
}

.own.resources .ownResRemButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'ownResRemBtn1 ownResRemBtn2';
    text-align: center;
}

.own.resources .ownResRemBtn1 {
    grid-area: ownResRemBtn1;
    padding-left: 20px;
}

.own.resources .ownResRemBtn2 {
    grid-area: ownResRemBtn2;
    padding-right: 20px;
}



/* ---------------------------------------------------------- */
/* -----------Styles for Remove Resources Ends--------------- */
/* ---------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* -----------Styles for Add Resources Starts------------------ */
/* ------------------------------------------------------------ */

#ownResAddContainer {
    width: 500px;
    height: 300px;
}

.own.resources .ownResAddHead {
    text-align: center;
}

.own.resources .ownResAddDetails {
    text-align: left;
    padding-top: 40px;
}

.own.resources .ownResAddLabel1,
.own.resources .ownResAddLabel2 {

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

#ownResAddQuantity {
    margin: 0;
    width: 70px;
    height: 40px;
}

.own.resources .ownResAddDetail1,
.own.resources .ownResAddDetail2 {
    text-align: left;
}

.own.resources .ownResAddLabeltext {
    border-radius: 6px;
    width: 300px;
    height: 40px;
}

.own.resources .ownResAddDetail1 input[type="text"],
.own.resources .ownResAddDetail2 #ownResAddQuantity {

    background-color: #EAEAEA;
    padding-left: 5px;
    Border: none;

}

.own.resources .ownResAddDetail1 input[type="text"]:focus,
.own.resources .ownResAddDetail2 #ownResAddQuantity:focus {
    outline: none;
}

.own.resources .ownResAddBtn1 {
    padding-left: 20px;
}

.own.resources .ownResAddBtn2 {
    padding-right: 20px;
}


.own.resources .ownResAddDetails {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'ownResAddDetail1 ownResAddDetail2';
}


.own.resources .ownResAddButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ownResAddBtn1 ownResAddBtn2';
    text-align: center;
    padding-top: 60px;
}

.own.resources .ownResAddBtn1 {
    grid-area: ownResAddBtn1;
}

.own.resources .ownResAddBtn2 {
    grid-area: ownResAddBtn2;

}

.own.resources .ownResAddDetail1 {
    grid-area: ownResAddDetail1;
}

.own.resources .ownResAddDetail2 {
    grid-area: ownResAddDetail2;
    justify-self: center;
}


/* ------------------------------------------------------------ */
/* -----------Styles for Add Resources Ends------------------ */
/* ------------------------------------------------------------ */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */


/* 
#####################################################################################################################################################
 Resources Ends
##################################################################################################################################################### */




/* 
#####################################################################################################################################################
 Salaries Starts
##################################################################################################################################################### */


/* ------------------------- owner salary report styles --------------------------- */

/* ----------------------------Headings styles -------------*/
.own.salaries .content {
    height: 100%;
}

.own.salaries .ownSalaryReportHeadings {
    text-align: center;
    padding: 30px;
}

.own.salaries .ownSalaryReportHead3 {
    color: #8A8888;
}

/* ----------------------------Salary Report Staff Member Details Styles-------------- */
.own.salaries .ownSalaryReportStaffMemberDetailHead,
.own.salaries .ownSalaryReportSalaryDetailssHead {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.own.salaries .ownSalaryReportStaffMemberDetailsContent {
    padding: 40px;
    float: right;
    width: 450px;
    margin: 0;
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);

}

.own.salaries .ownSalaryReportSalaryDetailsContent {
    padding: 40px;
    float: left;
    /* height: 400px; */
    width: 450px;
    margin: 0;
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.own.salaries .ownSalaryReportStaffMemberDetailsContentData,
.own.salaries .ownSalaryReportSalaryDetailsContentData,
.own.salaries .ownSalaryReportDeductionsDetailsContentData {
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #50515A;

}

.own.salaries .ownSalaryReportStaffMemberDetailsContentValue,
.own.salaries .ownSalaryReportSalaryDetailsContentValue {
    float: right;
    font-size: 16px;
    font-weight: 600;
}

.own.salaries .ownSalaryReportDeductionsDetailsContentValue {
    float: right;
    font-size: 16px;
    font-weight: 600;
    color: #DA2346;
}

.own.salaries .ownSalaryReportTotalSalaryContentData {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #50515A;
}

.own.salaries .ownSalaryReportTotalSalaryContentValue {
    float: right;
    font-size: 16px;
    font-weight: 700;
}

.ownSalaryReportTotalSalaryStatusLabel {
    color: #38A36D;
    font-weight: 500;
}

.ownSalaryReportTotalSalaryStatus {
    background-color: #C0F0D1;
    width: 100px;
    height: 35px;
    float: right;
    border-radius: 6px;
    /* border-style: solid;
    border-color: #38A36D;
    border-width: 2px; */
    text-align: center;
    padding-top: 5px;
}

/* Arrange the grid areas */
.own.salaries .SalaryReportContainer {
    display: grid;
    height: 100%;
    padding-bottom: 45px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        'ownSalaryReportStaffMemberDetails ownSalaryReportSalaryDetails'
}

/* Assign grid areas */
.own.salaries .ownSalaryReportStaffMemberDetails {
    grid-area: ownSalaryReportStaffMemberDetails;
    width: 450px;
    justify-self: right;
}

.own.salaries .ownSalaryReportSalaryDetails {
    grid-area: ownSalaryReportSalaryDetails;
    width: 450px;
    justify-self: left;
}


@media screen and (max-width: 830px) {
    .own.salaries .SalaryReportContainer {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        align-self: center;
        grid-template-areas:
            'ownSalaryReportStaffMemberDetails'
            'ownSalaryReportSalaryDetails';
    }

    .own.salaries .ownSalaryReportStaffMemberDetails {
        justify-self: center;
    }

    .own.salaries .ownSalaryReportSalaryDetails {
        justify-self: center;
    }


}


/* 
#####################################################################################################################################################
 Salaries Ends
##################################################################################################################################################### */




/* 
#####################################################################################################################################################
 Staff starts
##################################################################################################################################################### */


/* -----------Styles for Remove Staff--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */




/* ------------------------------------------------------------------------------------------------------ */
/* ----------------------------------- Remove Staff styles starts------------------ --------------------- */
/* ------------------------------------------------------------------------------------------------------ */

#ownRemstaffWrapper {
    display: block;
    width: 450px;
}

.own.Remstaff .ownRemStaffHead {
    padding-bottom: 20px;
    text-align: center;
}

.own.Remstaff .staffLable {
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    display: block;
    color: #50515A;
    padding-bottom: 2px;
}

.own.Remstaff .staffData {
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

.own.Remstaff .staffDetails {
    width: 400px;
    height: 120px;
    padding-bottom: 20px;
}

.own.Remstaff .remStaffErrortext {
    font-size: 14px;
    color: #DA2346;
    font-weight: 600;
}

.own.Remstaff .remStaffErrorAnchortag {
    cursor: auto;
}

.own.Remstaff .remStaffErrorViewReservaions {
    color: #037AFF;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.own.Remstaff .remStaffError {
    text-align: left;
    width: 400px;
    height: 40px;
}

/* 
--------------------------------------------- */
/* .own.Remstaff button {
    border: none;
    padding: 7px 20px;
    background: linear-gradient(130deg,
            #037AFF,
            #037AFF);
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
} */

.own.Remstaff .staffDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    grid-template-areas:
        'staffDetail1 staffDetail2'
        'staffDetail3 staffDetail3'
}

.own.Remstaff .remStaffError {
    display: grid;
    grid-template-columns: 100%;
    justify-self: center;
    grid-template-areas:
        'remStaffErrortext'
        'viewReservaions';
}

.own.Remstaff .remButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-top: 40px;
    grid-template-areas:
        'ownRemStaffbtn1 ownRemStaffbtn2';
    text-align: center;
}

.ownRem.staff .staffDetail1 {
    grid-area: staffDetail1;
}

.own.Remstaff .staffDetail2 {
    grid-area: staffDetail2;
}

.own.Remstaff .staffDetail3 {
    grid-area: staffDetail3;
    padding-top: 10px;
}

.own.Remstaff .remStaffErrortext {
    grid-area: remStaffErrortext;
}

.own.Remstaff .viewReservaions {
    grid-area: viewReservaions;
}

.own.Remstaff .ownRemStaffbtn1 {
    grid-area: ownRemStaffbtn1;
    justify-self: right;
}

.own.Remstaff .ownRemStaffbtn2 {
    grid-area: ownRemStaffbtn2;
    justify-self: left;
}

/* ------------------------------------------------------------------------------------------------------ */
/* ----------------------------------- Remove Staff styles ends------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Staff view styles starts------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */




.ownViewStaffContainerHead {
    text-align: center;
    padding-top: 30px;

}

/* ######################################################## */

.ownViewStaffCard1Details {

    padding-left: 100px;

}
.ownViewStaffCard2Details,
.ownViewStaffCard3Details{
    padding-left: 10px;
}
.ownViewStaffCardDetailsLabel{
    width: 100px;
}

/* ######################################################## */



.ownViewStaffCards .ownViewStaffCardHeadLabel {
    text-align: center;
}

.ownViewStaffProfileDetailsImgCircle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

/* all cards heading styles */
.ownViewStaffProfileDetails,
.ownViewStaffCard1,
.ownViewStaffCard2,
.ownViewStaffCard3 {
    font-weight: 500;
    margin: 0;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

/* All cards label styles */

.ownViewStaffCardDetailsLabel {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-grey);

}

/* All cards values styles */

.ownViewStaffCardDetailsValue {
    font-size: 16px;
    font-weight: 600;
}

/* profile details card styles */

.ownViewStaffProfileDetailsName {
    font-size: 24px;
    font-weight: 600;
}

.ownViewStaffProfileDetailsStaffId {
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-grey);
}



/*---------------------------------- Assign grid areas and grid arrange styles starts----------------------------------- */


/*------------------------------- Card grid areas and styles -------------------------------------------- */
.ownViewStaffProfileDetails {

    grid-area: ownViewStaffProfileDetails;
    width: 600px;
    height: 240px;
    justify-self: right;
    align-self: flex-end;

}

.ownViewStaffCard1 {
    grid-area: ownViewStaffCard1;
    width: 600px;
    height: 460px;
    justify-self: right;
    justify-self: self-end;
}

.ownViewStaffCard2 {

    grid-area: ownViewStaffCard2;
    width: 600px;
    height: 400px;
    justify-self: left;
    align-self: flex-end;

}

.ownViewStaffCard3 {
    grid-area: ownViewStaffCard3;
    width: 600px;
    height: 300px;
    justify-self: left;
}

.ownViewStaffCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 30px;
    grid-template-areas:
        'ownViewStaffProfileDetails ownViewStaffCard2'
        'ownViewStaffProfileDetails ownViewStaffCard2'
        'ownViewStaffCard1 ownViewStaffCard2'
        'ownViewStaffCard1 ownViewStaffCard3'
        'ownViewStaffCard1 ownViewStaffCard3'
}



/*---------------------------------------------- Profile Grid areas and styles -------------------------------------------*/


.ownViewStaffProfileGrid {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'ownViewStaffProfileDetailsImg ownViewStaffProfileDetailsInfo';
}

.ownViewStaffProfileDetailsImg {
    grid-area: ownViewStaffProfileDetailsImg;
    justify-self: center;
}

.ownViewStaffProfileDetailsInfo {
    grid-area: ownViewStaffProfileDetailsInfo;
    align-self: center;
    justify-self: center;
}

/*---------------------------------------------- Basic Info Grid areas and styles -------------------------------------------*/
.ownViewStaffCardrow {
    /* word-wrap: break-word; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* gap: 20px; */
    margin: 20px;
}

/*################################################################## Responsive styles ####################################################*/

@media screen and (max-width: 1220px) {

    .ownViewStaffContainerHead {
        text-align: center;
        padding: 30px;
    }
    .ownViewStaffCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-gap: 20px;
        grid-template-areas:
            'ownViewStaffProfileDetails'
            'ownViewStaffCard1'
            'ownViewStaffCard2'
            'ownViewStaffCard3'
    }

    .ownViewStaffProfileDetails,
    .ownViewStaffCard1,
    .ownViewStaffCard2,
    .ownViewStaffCard3 {
        justify-self: center;
        align-self: center;
    }
}

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Staff view styles ends------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Add staff styles starts------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* -----------------------------------container styles starts---------------------------------- */

/* -----------------------------------body styles starts----------------------------------------- */
.ownAddstaffBody {
    width: 100vw;
}

/* -----------------------------------body styles endss----------------------------------------- */
.ownStaff_allignmentbox {
    display: grid;
    width: 100vw;
    height: 100%;
}


/* -----------------------------------container styles starts---------------------------------- */
.ownAddstaffContainer {
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 55px;
    border-radius: 6px;
    display: grid;
    justify-self: center;
}

/* -----------------------------------container styles ends------------------------------------- */

/* ----------------------------------------------Form section break lines -----------------------------------------*/
.ownAddstaffLines {
    height: 2px;
    max-width: 800px;
    width: 100%;
    background-color: #eaeaea;
    border-radius: 6px;
}

.ownAddstaffLineContainer {
    padding: 25px 40px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* --------------- Form heading styles --------------------------------*/

.ownAddStaff_Formheading {
    text-align: center;
}

/* .container {
    align-items: center;
    position: absolute;
} */

.ownAddstaffContainer .ownAddstaffBasicinfo,
.ownAddstaffContainer .ownAddstaffContactdetails,
.ownAddstaffContainer .ownAddstaffBankdetails {
    padding: 20px;
}

/*---------------------------------------------------- Add image styles starts -----------------------------------------*/
.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn #ownAddstaffBasicinfoImagesub {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoImagewrapper {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    background: #EAEAEA;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoImagetitle {
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoIcon {
    align-items: center;
}

.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoImagewrapper:hover {
    transform: translate(-5px);
    box-shadow: 0;
}

/* Form image wrapper styles */
.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoImagewrapper {
    margin-bottom: 10px;
}

/*---------------------------------------------------- Add image styles ends -----------------------------------------*/

/*---------------------------------------------------- Address styles --------------------*/
.ownAddstaffFormGroupADD .homeAdd {
    border-radius: 6px;
    border: 1px solid lightgray;
    width: 100%;
    height: 80px;
    padding: 8px 10px;
    resize: none;
    font-weight: 400;
}

/*----------------------------------- Drop down styles ----------------------------------------------------------*/

.ownAddstaffFormGroupStype .dropdownselectbox {
    font-size: 16px;
    padding: 10px 15px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 95%;
    height: 42px;
}

/*--------------------------------------------------- Button styles starts ----------------------------------------*/
.ownAddstaffbutton {
    background-color: #6f6df4;
    color: white;
    border: 1px solid;
    height: 50px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}

.ownAddstaffButton {
    padding-right: 20px;
}

/*--------------------------------------------------- Butoon styles ends ----------------------------------------*/


/* --------------------------- Form template styles --------------------------------------------------------------*/

.ownAddstaffContainer form input[type="text"] {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

.ownAddstaffContainer form input[type="date"] {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

.ownAddstaffContainer input[type="radio"],
.ownAddstaffContainer input[type="checkbox"] {
    margin-left: 3px;
    margin-right: 8px;
    transform: scale(1.5);
}

.own.staff .ownAddstaffContainer form input:focus,
.own.staff .ownAddstaffFormGroupADD .homeAdd:focus,
.own.staff .dropdownselectbox:focus {
    outline: none;
    border-color: #6f6df4;
}

.ownAddstaffContainer .ownAddstaffLabels {
    color: #1c093c;
    font-size: 16px;
    font-weight: 600;
    display: block;
    width: 100%;
    padding-bottom: 0;
}

.ownAddstaffFormGroupADD .ownAddstaffLabels,
.ownAddstaffFormGroupRadio .ownAddstaffLabels {
    padding-bottom: 5px;
}

.ownAddstaffContainer form .ownAddstaffFormGroupFname {
    width: 100%;
}

.ownAddstaffContainer form .ownAddstaffFormGroupRadio {
    margin-top: 5px;
}

.ownAddstaffContainer .error {
    font-size: 12px;
    color: #DC3545;
}


/*--Customize the grid places --------------*/
.ownAddstaffContainer .ownAddstaffMaingrid1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    grid-template-areas:
        'ownAddstaffFormGroupImage ownAddstaffFormGroupFname'
        'ownAddstaffFormGroupImage ownAddstaffFormGroupLname'
        'ownAddstaffFormGroupRadio ownAddstaffFormGroupNIC';

}

.ownAddstaffContainer .ownAddstaffMaingrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
        'ownAddstaffFormGroupStype ownAddstaffFormGroupDOB';
}

.ownAddstaffContainer .ownAddstaffMaingrid3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'ownAddstaffFormGroupADD';
}

.ownAddstaffContainer .ownAddstaffMaingrid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
        'ownAddstaffFormGroupTP ownAddstaffFormGroupMAIL';
}

.ownAddstaffContainer .ownAddstaffMaingrid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
        'ownAddstaffFormGroupACCNUM ownAddstaffFormGroupACCNUM '
        'ownAddstaffFormGroupBankNAME ownAddstaffFormGroupACCNAME';
}

.ownUpdateStaffDisable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ownUpdateStaffFormGroupDisableLable ownUpdateStaffFormGroupDisableTogle';
}



.ownAddstaffButton {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
        'ownAddstaffbutton';
}

/*----------- Assigning grid areas and adding styles ----------------*/

.ownAddstaffFormGroupImage {
    grid-area: ownAddstaffFormGroupImage;

}

.ownAddstaffFormGroupFname {
    grid-area: ownAddstaffFormGroupFname;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupLname {
    grid-area: ownAddstaffFormGroupLname;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupRadio {
    grid-area: ownAddstaffFormGroupRadio;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupNIC {
    grid-area: ownAddstaffFormGroupNIC;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupStype {
    grid-area: ownAddstaffFormGroupStype;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupDOB {
    grid-area: ownAddstaffFormGroupDOB;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupADD {
    grid-area: ownAddstaffFormGroupADD;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupTP {
    grid-area: ownAddstaffFormGroupTP;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupMAIL {
    grid-area: ownAddstaffFormGroupMAIL;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupACCNUM {
    grid-area: ownAddstaffFormGroupACCNUM;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupACCNAME {
    grid-area: ownAddstaffFormGroupACCNAME;
    padding-bottom: 10px;
}

.ownAddstaffbutton {
    grid-area: ownAddstaffbutton;
    justify-self: right;

}


/*################################################################## Responsive styles ####################################################*/


@media screen and (max-width: 600px) {


    /*---- Grids placing and styles for responsive ----*/
    .ownAddstaffContainer .ownAddstaffMaingrid1 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            'ownAddstaffFormGroupImage'
            'ownAddstaffFormGroupFname'
            'ownAddstaffFormGroupLname'
            'ownAddstaffFormGroupRadio'
            'ownAddstaffFormGroupNIC';
    }

    .ownAddstaffContainer .maingrid2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            'ownAddstaffFormGroupStype'
            'ownAddstaffFormGroupDOB';
    }

    .ownAddstaffContainer .ownAddstaffMaingrid3 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            'ownAddstaffFormGroupADD';
    }

    .ownAddstaffContainer .ownAddstaffMaingrid4 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            'ownAddstaffFormGroupTP'
            'ownAddstaffFormGroupMAIL';
    }

    .ownAddstaffContainer .ownAddstaffMaingrid5 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            'ownAddstaffFormGroupACCNUM'
            'ownAddstaffFormGroupACCNAME';
    }

    /*---- Add image style for responsive ----*/
    .ownAddstaffFormGroupImage {
        justify-content: center;
        text-align: center;
    }


    /*---- Form wrapper styles for responsive -----*/
    form .ownAddstaffFormWrapper .ownAddstaffMaingrid1 input[type=text] {
        width: 100%;
    }

    .dropdownselectbox {
        width: 100%;
    }

    /* Form home address styles for responsive */
    form .ownAddstaffFormWrapper .ownAddstaffMaingrid3 .ownAddstaffFormGroupADD .homeAdd {
        width: 100%;
    }

    .ownAddstaffFormWrapper .ownAddstaffMaingrid4 input[type=text],
    .ownAddstaffMormWrapper .ownAddstaffMaingrid5 input[type=text] {
        width: 100%;
    }

    /*----Form button styles for responsive ---- */
    .ownAddstaffButton {
        padding-right: 20px;
    }

}

/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Add staff styles ends------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Update staff styles starts------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

.ownUpdateStaffFormGroupDisable .toglecheckbox {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.ownUpdateStaffFormGroupDisable .toglecheckbox:checked {
    background: #444BF8;

}

.ownUpdateStaffFormGroupDisable .toglecheckbox::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.ownUpdateStaffFormGroupDisable .toglecheckbox:checked::before {
    left: 20px;
}

.ownUpdateStaffFormGroupDisableLable {
    grid-area: ownUpdateStaffFormGroupDisableLable;
}

.ownUpdateStaffFormGroupDisableTogle {
    grid-area: ownUpdateStaffFormGroupDisableTogle;
    padding-top: 20px;
    padding-left: 10px;
}



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Update staff styles ends------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

/* 
#####################################################################################################################################################
Staff Ends
##################################################################################################################################################### */