/* -----------Styles for Remove Staff--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU -----------------*/
/* ------------------------------------------------------ */




/* ------------------------------------------------------------------------------------------------------ */
/* ----------------------------------- Remove Staff styles starts------------------ --------------------- */
/* ------------------------------------------------------------------------------------------------------ */

#ownRemstaffWrapper{
    display: block;
    width: 400px;
}

.ownRemstaffContainer {
    display: grid;    
}

.ownRemStaffHead{
    padding-bottom: 10px;
    text-align: center;
 }



.staffLable{ 
     font-size: 14px;
     font-weight: 600;
     text-align: start;
     display: block;
 }
 .staffData
 {
    font-size: 14px;
    font-weight: 600;
    color: #50515A;
    text-align: start;
 }
.staffDetails{
   
    width: 300px;
    height: 120px;
}


.remStaffErrortext {
     font-size: 12px;
     color: red ;
 }
 .remStaffErrorAnchortag{
     cursor: auto;
 }
 .remStaffErrorViewReservaions{
     color: #037AFF;
     text-align: start;
     font-size: 12px;
     cursor: pointer;
    
   
     
}
.remStaffError{
    text-align: left;
    width: 300px;
    height: 40px;

}






/* 
--------------------------------------------- */
 button {
    border: none;
    padding: 7px 20px;
    background: linear-gradient(130deg,
          #037AFF,
          #037AFF);
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
 }









 .ownRemStaffbtn1 .btn{
     background: #EAEAEA;
     color: black;
 }


.staffDetails{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-self: center;
    grid-template-areas:
    'staffDetail1 staffDetail2' 
    'staffDetail3 staffDetail3'
   
}
.remStaffError{
    display: grid; 
    grid-template-columns: 100%;
    justify-self: center;
    grid-template-areas: 
    'remStaffErrortext' 
    'viewReservaions';
    
}
.remButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas: 
    'ownRemStaffbtn1 ownRemStaffbtn2';
    text-align:  center;
    padding-top: 5px;
}

.staffDetail1{
    grid-area: staffDetail1;
    
}
.staffDetail2{
    grid-area: staffDetail2;
  
 
}
.staffDetail3{
    grid-area: staffDetail3;
    
}
.remStaffErrortext{
    grid-area: remStaffErrortext;
}

.viewReservaions{
    grid-area: viewReservaions;
}
.ownRemStaffbtn1{
    grid-area: ownRemStaffbtn1;
    justify-self: right;
    
}
.ownRemStaffbtn2{
    grid-area: ownRemStaffbtn2;
   justify-self: left;
}


/* ------------------------------------------------------------------------------------------------------ */
/* ----------------------------------- Remove Staff styles ends------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Staff view styles starts------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */


#ownViewStaffContainer{
    background-color: #EAEAEA;
}

.ownViewStaffProfileDetails .sub-container-card{
    height: 200px;
    width: 150px;
}


 
 
/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Staff view styles ends------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */



 /* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Add staff styles starts------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* -----------------------------------container styles starts---------------------------------- */

/* -----------------------------------body styles starts----------------------------------------- */
.ownAddstaffBody{
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
    /* width: 100vw; */
    /* position: relative; */
    
}
  
/* -----------------------------------body styles endss----------------------------------------- */
.ownStaff_allignmentbox{
    display: grid;
    /* width: 100vw; */
    height: 100%;
    /* position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}  


/* -----------------------------------container styles starts---------------------------------- */
.ownAddstaffContainer {
    margin: 30px 0;
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 25px ;
    border-radius: 6px;
    display: grid;
    justify-self: center;

     
}
/* -----------------------------------container styles ends------------------------------------- */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
/* --------------- Form heading styles --------------------------------*/


.ownAddStaff_Formheading{
    text-align: center;
}
.container{
    align-items: center;
    position: absolute;
}

.ownAddstaffContainer .ownAddstaffBasicinfo,
.ownAddstaffContainer .ownAddstaffContactdetails,
.ownAddstaffContainer .ownAddstaffBankdetails{
    padding: 20px;
}

/*---------------------------------------------------- Add image styles starts -----------------------------------------*/
.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn #ownAddstaffBasicinfoImagesub{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}
.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoImagewrapper{
  
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    padding:50px 10px ;
    background: #eaeaea;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoImagetitle{
    font-weight: 600;
    font-size: 14px;
    color: white; 
 }
 .ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoIcon{
     
     align-items: center;
    
}
.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoFilesubBtn .ownAddstaffBasicinfoImagewrapper:hover{
    transform: translate(-5px);
    box-shadow: 0;
}
/* Form image wrapper styles */
.ownAddstaffContainer .ownAddstaffFormGroupImage .ownAddstaffBasicinfoImagewrapper{
    
    margin-bottom: 10px;
}
/*---------------------------------------------------- Add image styles ends -----------------------------------------*/

/*---------------------------------------------------- Address styles --------------------*/
.ownAddstaffFormGroupADD .homeAdd{
    border-radius: 6px;
    border: 1px solid lightgray;
    width:100%;
    height: 80px;
    padding-left: 5px;
    }

/*----------------------------------- Drop down styles ----------------------------------------------------------*/

.ownAddstaffFormGroupStype .dropdownselectbox{
    font-size: 16px;
    padding : 10px 15px;
    background: white;
    border-radius: 6px;
    width: 95%;
    height: 42px;
   }

   /*--------------------------------------------------- Butoon styles starts ----------------------------------------*/
.ownAddstaffbutton {
    background-color: #444BF8;
    color: white;
    border: 1px solid ;
    height: 40px;
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    float: right;
    text-align: center;
    align-items: center;
        
  }
.ownAddstaffButton{
      padding-right: 55px;
}
/*--------------------------------------------------- Butoon styles ends ----------------------------------------*/

/* --------------------------- Form template styles --------------------------------------------------------------*/

.ownAddstaffContainer form input[type = "text"], select {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
 }
 .ownAddstaffContainer form input[type = "date"], select {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
 }

 .ownAddstaffContainer input[type="radio"], input[type="checkbox"]{
    margin-left: 3px;
    margin-right: 8px;
    transform: scale(1.5);
 }
 
 .ownAddstaffContainer form input:focus,
 .ownAddstaffFormGroupADD .homeAdd:focus,
 .dropdownselectbox:focus{
    outline: none;
    border-color: #6f6df4;
 }
 
 .ownAddstaffContainer .ownAddstaffLabels{
    color: #1c093c;
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding-bottom: 0;
 }
 
 .ownAddstaffContainer form .ownAddstaffFormGroupFname{
    width: 100%;
 }
.ownAddstaffContainer form .ownAddstaffFormGroupRadio{
    margin-top: 5px;
 }
 .ownAddstaffContainer .error{
    font-size: 12px;
    color: #DC3545;
 }

 
 /*--Customize the grid places --------------*/
 .ownAddstaffContainer .ownAddstaffMaingrid1{
     display: grid;
     grid-template-columns: 1fr 3fr;
     grid-gap: 5px;
     grid-template-areas: 
       'ownAddstaffFormGroupImage ownAddstaffFormGroupFname'
       'ownAddstaffFormGroupImage ownAddstaffFormGroupLname'
       'ownAddstaffFormGroupRadio ownAddstaffFormGroupNIC';
 
 }
 .ownAddstaffContainer .ownAddstaffMaingrid2{
     display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-gap: 15px;
     grid-template-areas: 
       'ownAddstaffFormGroupStype ownAddstaffFormGroupDOB';
 }
 .ownAddstaffContainer .ownAddstaffMaingrid3{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas: 
       'ownAddstaffFormGroupADD';
 }
 .ownAddstaffContainer .ownAddstaffMaingrid4{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 15px;
     grid-template-areas: 
       'ownAddstaffFormGroupTP ownAddstaffFormGroupMAIL';
 }
 .ownAddstaffContainer .ownAddstaffMaingrid5{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 15px;
     grid-template-areas: 
       'ownAddstaffFormGroupACCNUM ownAddstaffFormGroupACCNAME';
 }
 
 /*----------- Assigning grid areas and adding styles ----------------*/

.ownAddstaffFormGroupImage{
    grid-area: ownAddstaffFormGroupImage;   
    
}
.ownAddstaffFormGroupFname{
    grid-area: ownAddstaffFormGroupFname;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupLname{
    grid-area: ownAddstaffFormGroupLname;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupRadio{
    grid-area: ownAddstaffFormGroupRadio;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupNIC{
    grid-area: ownAddstaffFormGroupNIC;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupStype{
    grid-area: ownAddstaffFormGroupStype;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupDOB{
    grid-area: ownAddstaffFormGroupDOB;
    padding-bottom: 10px;
}

.ownAddstaffFormGroupADD{
    grid-area: ownAddstaffFormGroupADD;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupTP{
    grid-area: ownAddstaffFormGroupTP;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupMAIL{
    grid-area: ownAddstaffFormGroupMAIL;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupACCNUM{
    grid-area: ownAddstaffFormGroupACCNUM;
    padding-bottom: 10px;
}
.ownAddstaffFormGroupACCNAME{
    grid-area: ownAddstaffFormGroupACCNAME;
    padding-bottom: 10px;
}


/*################################################################## Responsive styles ####################################################*/


@media screen and (max-width: 830px){
   

    /*---- Grids placing and styles for responsive ----*/
        .ownAddstaffContainer .ownAddstaffMaingrid1{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
              'ownAddstaffFormGroupImage' 
              'ownAddstaffFormGroupFname'
              'ownAddstaffFormGroupLname'
              'ownAddstaffFormGroupRadio'
              'ownAddstaffFormGroupNIC';    
        }
        .ownAddstaffContainer .maingrid2{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
              'ownAddstaffFormGroupStype'
              'ownAddstaffFormGroupDOB';
        }
        .ownAddstaffContainer .ownAddstaffMaingrid3{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
              'ownAddstaffFormGroupADD';
        }
        .ownAddstaffContainer .ownAddstaffMaingrid4{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
              'ownAddstaffFormGroupTP'
              'ownAddstaffFormGroupMAIL';
        }
        .ownAddstaffContainer .ownAddstaffMaingrid5{
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas: 
              'ownAddstaffFormGroupACCNUM'
              'ownAddstaffFormGroupACCNAME';
        }
    /*---- Add image style for responsive ----*/
        .ownAddstaffFormGroupImage{
            justify-content: center;
            text-align: center;
        }
    
    
    /*---- Form wrapper styles for responsive -----*/
        form .ownAddstaffFormWrapper .ownAddstaffMaingrid1 input[type=text]{        
            width:100%;        
            }
        .dropdownselectbox{
            width: 100%;
        }
    /* Form home address styles for responsive */
    form .ownAddstaffFormWrapper .ownAddstaffMaingrid3 .ownAddstaffFormGroupADD .homeAdd{
          width: 100%;
        }
    form .ownAddstaffFormWrapper .ownAddstaffMaingrid4 input[type=text],
    form .ownAddstaffMormWrapper .ownAddstaffMaingrid5 input[type=text]{
        width: 100%;
    }
    /*----Form button styles for responsive ---- */
         .ownAddstaffButton{
             padding-right: 20px; 
        }
        
    }
 
/* ------------------------------------------------------------------------------------------------------ */
/* -----------------------------------Add staff styles ends------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

.ownUpdateStaffFormGroupDisable .toglecheckbox{
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.ownUpdateStaffFormGroupDisable .toglecheckbox:checked{
    background: #444BF8;

}
.ownUpdateStaffFormGroupDisable .toglecheckbox::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.ownUpdateStaffFormGroupDisable .toglecheckbox:checked::before{
    left: 40px;
}

.ownUpdateStaffDisable{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'ownUpdateStaffFormGroupDisableLable '
    'ownUpdateStaffFormGroupDisableTogle';
}


.ownUpdateStaffFormGroupDisableLable{
    grid-area: ownUpdateStaffFormGroupDisableLable;
}
.ownUpdateStaffFormGroupDisableTogle{
    grid-area: ownUpdateStaffFormGroupDisableTogle;
    padding-top: 20px;
    padding-left: 10px;
}