/* -----------Styles for receptionist views--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

/* Common button styles */
/*Currently moved to style.css check for conflicts*/

/* .recept .btn{
   display: block;
   border-radius: 6px;
   text-align: center;
}

.recept .btn.btn-filled{
   border: none;
   color:var(--white);
}

.recept .btn.btn-outlined{
   background-color: transparent;
}

.recept .btn.btn-filled.btn-theme-purple{
   background-color: var(--theme-purple);
}

.recept .btn.btn-filled.btn-red{
   background-color: var(--theme-red);
}

.recept .btn.btn-filled.btn-black{
   background-color: var(--theme-black);
}

.recept .btn.btn-outlined.btn-black{
   border: 2px solid var(--theme-black);
   color: var(--theme-black);
} */

/* End of Common button styles */

/* Common template for pages with tables */
/*Currently moved to style.css check for conflicts*/

/* .recept.content .top-container {
   margin: 30px 0 10px 0;
   padding: 0 70px;
   display: flex;
   justify-content: right;
   width: 100%;
}

.recept .top-container .btn{
   font-weight: 500;
   padding: 7px;
   width: 120px;
}

.recept.content .options-container {
   display: flex;
   padding: 30px 70px;
   width: 100%;
   min-width: 330px;
}

.recept.content .options-container .left-section {
   width: 100%;
   margin-right: auto;
}

.recept.content .options-container .right-section {
   margin-left: 30px;
}

.recept .options-container .btn{
   margin-top: 26px;
   font-weight: 500;
   padding: 7px;
   width: 120px;
}

@media (max-width: 940px) {
   .recept.content .options-container {
      flex-direction: column;
   }

   .recept.content .options-container .right-section {
      margin-left: auto;
   }

   .recept .options-container .btn{
      margin-top: 0px;
   }
} */

/* End of Common template for pages with tables */


/******************** Styles of recall request page ************************/

.recept.recall-request .main-container {
   width: 100%;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
}

.recept.recall-request .sub-container {
   align-self: center;
   padding: 30px;
   min-width: 500px;
   width: 60%;
   height: min-content;
   display: flex;
   flex-wrap: wrap;
   margin: 12px 0;
}

.recept.recall-request .sub-container .btn-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-top: auto;
   padding-bottom: 0;
}

.recept.recall-request .sub-container .btn-container .btn {
   font-weight: 500;
   padding: 5px;
   width: 120px;
   margin-top: 10px;
}

.recept.recall-request .sub-container .btn-container .btn-top {
   margin-top: 0 !important;
}

.recept.recall-request .sub-container .row {
   width: 100%;
   height: fit-content;
   display: grid;
   grid-template-columns: auto 120px;
   gap: 0 15px;
}

.recept.recall-request .sub-container .row-inner {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.recept.recall-request .sub-container .date-box {
   border-radius: 6px;
   height: max-content;
   background-color: var(--theme-lightgrey);
   display: flex;
   flex-wrap: wrap;
   padding: 10px 0;
}

.recept.recall-request .text-group span,
.recept.recall-request .date-box span {
   display: block;
   width: 100%;
}

.recept.recall-request .sub-container .text-group {
   margin-bottom: 12px;
}

.recept.recall-request .text-group .title {
   font-size: 14px;
   font-weight: 400;
   color: var(--theme-grey);
}

.recept.recall-request .text-group .content {
   font-size: 14px;
   font-weight: 600;
   color: var(--theme-black);
}

.recept.recall-request .text-group .description {
   font-size: 14px;
   font-weight: 400;
   color: var(--theme-black);
}

.recept.recall-request .date-box .time {
   text-align: center;
   font-size: 16px;
   font-weight: 600;
   color: var(--theme-black);
}

.recept.recall-request .date-box .mondate {
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   color: var(--theme-purple);
}

.recept.recall-request .date-box .year {
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   color: var(--theme-grey);
}

.recept.recall-request .desc-container {
   margin-top: 15px;
}

/******************* End of Styles of recall request page *******************/



/********************* Styles of new reservation page ***********************/

/* .main-container {
   display: grid;
   grid-template-columns: 400px 400px;
   gap: 25px;
   width: 100%;
   justify-content: center;
   align-content: center;
}

.row {
   width: 400px;
}

.box-1 {
   width: max-content;
}

.box-2 {
   width: max-content;
}

.serviceSelection {
   display: flex;
}

.recept.newRes .contentBox {
   padding: 22px;
}

.recept.newRes .cusDetails .btn-main {
   margin: 10px auto;
   padding: 6px;
   width: 200px;
}

.profile-info {
   display: flex;
   padding: 0 0 0 10px;
   margin: 15px 0 30px;
   border-radius: 6px;
   height: 70px;
   background-color: var(--theme-lightgrey);
}

.profile-info div {
   display: inline-block;
}

.profile-info .img-container {
   display: flex;
   align-content: center;
   margin-right: 15px;
}

.profile-info .img-container img {
   margin-top: auto;
   margin-bottom: auto;
}

.profile-info .text-container {
   height: 100%;
   width: 100%;
   display: flex;
   align-content: center;
   flex-direction: column;
}

.profile-info div label {
   margin-top: auto;
   display: block;
}

.profile-info .text-container .contact-no {
   color: var(--theme-grey);
   margin-top: 0;
   margin-bottom: auto;
   font-size: 14px;
}

.profile-remove {
   margin: 7px 7px 0 0;
   position: relative;
   right: 0;
}

.price-calc .tag {
   height: 45px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--theme-lightgrey);
}

.total.tag {
   border: none;
}

.total.tag p {
   font-weight: 600;
}

.price-calc .price-tag .price {
   margin-right: 0;
}

.num-text {
   font-family: "Roboto", sans-serif;
}

.mini {
   width: 100px !important;
} */


/****************** End of Styles of new reservation page *******************/


/*********************** Styles of daily view page **************************/

.recept.daily-view .res-card-container {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.recept.daily-view .titleBox {
   display: flex;
   flex-direction: row;
   width: max-content;
}

.recept.daily-view .titleBox div {
   display: flex;
   justify-content: center;
}

.recept.daily-view .titleBox .service-column {
   width: 220px;
}

.recept.daily-view .titleBox .service-prov-column {
   width: 250px;
}

.recept.daily-view .res-card {
   padding: 0;
   margin: 12px;
   /* width: 80%; */
   width: max-content;
   display: flex;
   overflow: hidden;
   /* display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
   /* padding: 20px; */
}

.recept.daily-view .res-card div {
   font-size: 15px;
   font-weight: 400px;
   color: var(--theme-black);
   display: flex;
   align-items: center;
   padding: 15px 15px;
}

.recept.daily-view .res-card .time-box {
   font-size: 17px;
   display: flex;
   justify-content: center;
   width: 130px;
   padding-left: 20px;
   padding-right: 15px;
   background-color: var(--theme-black);
   color: var(--white);
}

.recept.daily-view .service-name-box {
   min-width: 220px;
}

.recept.daily-view .service-prov-box {
   min-width: 250px;
}

.recept.daily-view .customer-box {
   min-width: 250px;
}

.recept.daily-view .contact-box {
   min-width: 110px;
}

.recept.daily-view .status-tag {
   width: 150px;
}

.recept.daily-view .opt-box a {
   display: flex;
   align-content: center;
}

/****************** End of Styles of daily view page ************************/



/********************* Styles of res More info page *************************/

.recept.resMoreInfo .innerContainer {
   max-width: 630px;
   margin: 30px auto 15px;
}

.recept.resMoreInfo .contentBox {
   margin: 10px 0 30px;
   padding: 30px;
}


.recept.resMoreInfo .contentBox .row {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 3fr;
   margin-bottom: 10px;
}

.recept.resMoreInfo .contentBox .column {
   width: 100%;
}

.recept.resMoreInfo .text-group label {
   font-size: 14px;
   font-weight: 400;
   color: var(--theme-grey);
}

.recept.resMoreInfo .text-group p {
   font-size: 14px;
   font-weight: 600;
}

.recept.resMoreInfo .resDetails .date-status {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
}

.recept.resMoreInfo .resDetails .sub-res-container {
   display: grid;
   grid-template-columns: 1fr;
}

.recept.resMoreInfo .separator {
   margin: 10px 0 15px;
   height: 1px;
   color: var(--theme-lightgrey);
}

.recept.resMoreInfo .bottom-container {
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.recept.resMoreInfo .btn-container {
   display: flex;
   height: 180px;
   margin: 30px 0 0 30px;
   justify-content: space-between;
   flex-direction: column;
   max-width: 125px;
}

.recept.resMoreInfo .btn-container .btn {
   padding: 4px;
}

.recept.resMoreInfo .btn-container .btn-last {
   padding: 6px;
}

/**************** End of Styles of res More info page *******************/


/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */