/* -----------Styles for receptionist views--------------- */
/* Move required styles to common stylesheet where necessary */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

/* Common button styles */
/*Currently moved to style.css check for conflicts*/

/* .recept .btn{
   display: block;
   border-radius: 6px;
   text-align: center;
}

.recept .btn.btn-filled{
   border: none;
   color:var(--white);
}

.recept .btn.btn-outlined{
   background-color: transparent;
}

.recept .btn.btn-filled.btn-theme-purple{
   background-color: var(--theme-purple);
}

.recept .btn.btn-filled.btn-red{
   background-color: var(--theme-red);
}

.recept .btn.btn-filled.btn-black{
   background-color: var(--theme-black);
}

.recept .btn.btn-outlined.btn-black{
   border: 2px solid var(--theme-black);
   color: var(--theme-black);
} */

/* End of Common button styles */

/* Common template for pages with tables */
/*Currently moved to style.css check for conflicts*/

/* .recept.content .top-container {
   margin: 30px 0 10px 0;
   padding: 0 70px;
   display: flex;
   justify-content: right;
   width: 100%;
}

.recept .top-container .btn{
   font-weight: 500;
   padding: 7px;
   width: 120px;
}

.recept.content .options-container {
   display: flex;
   padding: 30px 70px;
   width: 100%;
   min-width: 330px;
}

.recept.content .options-container .left-section {
   width: 100%;
   margin-right: auto;
}

.recept.content .options-container .right-section {
   margin-left: 30px;
}

.recept .options-container .btn{
   margin-top: 26px;
   font-weight: 500;
   padding: 7px;
   width: 120px;
}

@media (max-width: 940px) {
   .recept.content .options-container {
      flex-direction: column;
   }

   .recept.content .options-container .right-section {
      margin-left: auto;
   }

   .recept .options-container .btn{
      margin-top: 0px;
   }
} */

/* End of Common template for pages with tables */


/* Styles of recall request page */

.recept.recall-request .main-container {
   width: 100%;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
}

.recept.recall-request .sub-container {
   align-self: center;
   padding: 30px;
   min-width: 500px;
   width: 60%;
   height: min-content;
   display: flex;
   flex-wrap: wrap;
   margin: 12px 0;
}

.recept.recall-request .sub-container .btn-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-top: auto;
   padding-bottom: 0;
}

.recept.recall-request .sub-container .btn-container .btn {
   font-weight: 500;
   padding: 5px;
   width: 120px;
   margin-top: 10px;
}

.recept.recall-request .sub-container .row {
   width: 100%;
   height: fit-content;
   display: grid;
   grid-template-columns: auto 120px;
   gap: 0 15px;
}

.recept.recall-request .sub-container .row-inner {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.recept.recall-request .sub-container .date-box {
   border-radius: 6px;
   height: max-content;
   background-color: var(--theme-lightgrey);
   display: flex;
   flex-wrap: wrap;
   padding: 10px 0;
}

.recept .text-group span,
.recept .date-box span {
   display: block;
   width: 100%;
}

.recept .sub-container .text-group {
   margin-bottom: 15px;
}

.recept .text-group .title {
   font-size: 16px;
   font-weight: 400;
   color: var(--theme-grey);
}

.recept .text-group .content {
   font-size: 17px;
   font-weight: 600;
   color: var(--theme-black);
}

.recept .text-group .description {
   font-size: 17px;
   font-weight: 400;
   color: var(--theme-black);
}

.recept .date-box .mondate {
   text-align: center;
   font-size: 22px;
   font-weight: 600;
   color: var(--theme-purple);
}

.recept .date-box .year {
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   color: var(--theme-grey);
}

.recept .desc-container {
   margin-top: 20px;
}

/* End of Styles of recall request page */

/* Styles of new reservation page */



/* .recept.newRes .main-container {
   
   
} */

.main-container {
   display: grid;
   grid-template-columns: 400px 400px;
   gap: 25px;
   width: 100%;
   /* margin-left: auto;
   margin-right: auto; */
   justify-content: center;
   align-content: center;
}

.row{
   width: 400px;
}

.box-1 {
   width: max-content;
}

.box-2 {
   width: max-content;
}

.serviceSelection {
   display: flex;
}

.recept.newRes .contentBox {
   padding: 22px;
}

/* 
.recept.newRes .resDetails {
   width: 400px;
}

.recept.newRes .cusDetails {
   width: 400px;
} */

.recept.newRes .cusDetails .btn-main {
   margin: 10px auto;
   padding: 6px;
   width: 200px;
}

.profile-info {
   display: flex;
   /* align-content: center; */
   padding: 0 0 0 10px;
   margin: 15px 0 30px;
   border-radius: 6px;
   height: 70px;
   background-color: var(--theme-lightgrey);
}

.profile-info div {
   display: inline-block;

}

.profile-info .img-container {
   display: flex;
   align-content: center;
   margin-right: 15px;
}

.profile-info .img-container img {
   margin-top: auto;
   margin-bottom: auto;
}

.profile-info .text-container {
   height: 100%;
   width: 100%;
   display: flex;
   align-content: center;
   flex-direction: column;
}

.profile-info div label {
   margin-top: auto;
   display: block;
}

.profile-info .text-container .contact-no {
   color: var(--theme-grey);
   margin-top: 0;
   margin-bottom: auto;
   font-size: 14px;
}

.profile-remove {
   margin: 7px 7px 0 0;
   position: relative;
   right: 0;
}

.price-calc .tag {
   height: 45px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--theme-lightgrey);
}

.total.tag {
   border: none;
}

.total.tag p {
   font-weight: 600;
}

.price-calc .price-tag .price {
   margin-right: 0;
}

.num-text {
   font-family: "Roboto", sans-serif;
}

.mini {
   width: 100px !important;
}

/* End of Styles of new reservation page */

/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */