/* ------------------------------------------------------ */


/* -----------STYLE ADDED BY RUWANTHI---------------------*/


/* ------------------------------------------------------ */

.serprov .sub-container1 {
    display: flex;
    /* justify-content: space-evenly; */
    width: 80%;
    height: 150px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* justify-content: flex-start; */
}

.serprov .container1-card {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.serprov .sub-container1-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px 50px;
    padding: 8px 50px;
    width: 350px;
    border-radius: 6px;
    justify-content: space-between;
}

.serprov .webview {
    margin: 0px 50px;
}

.serprov .sub-container1-card-title {
    font-weight: 500;
    font-size: 18px;
    display: flex;
}

.serprov .sub-container1-card-count {
    color: var(--theme-purple);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    display: flex;
}

.serprov .sub-content-container2 {
    display: flex;
    flex-direction: column;
}

.serprov .topic {
    margin-bottom: 10px;
    margin-left: 50px;
}

.serprov .sub-content-container2 h2 {
    font-size: 27px;
    font-weight: 500;
}

.reservationlist {
    height: 650px;
}

.serprov .scroll-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

.serprov .scroll-area::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.serprov .sub-container2-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.034), 0 5px 17.9px rgba(0, 0, 0, 0.072);
    padding: 10px 40px;
    height: 100px;
    display: flex;
    font-size: 1.06rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    margin-left: 50px;
    margin-right: 50px;
}

.serprov .sub-container2-card-name,.sub-container2-card-ts {
    width: 25%;
    display: flex;
    align-items: center;
    display: block;
}

.serprov .sub-container2-card-time {
    height: 40%;
    font-weight: 400;
    display: block;
    font-size: 18px;
}

.serprov .sub-container2-card-service {
    height: 60%;
    font-weight: 600;
    font-size: 24px;
    display: block;
}

/* .serprov .sub-container2-card-name {
    display: block;
} */

.serprov .sub-container2-card-cstname {
    font-size: 16px;
    display: block;
}

.serprov .sub-container2-card-name .name {
    font-size: 21px;
}

.serprov .sub-container2-card button {
    background: transparent;
    color: var(--theme-purple);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 2px;
    border: none;
    width: 150px;
    background-color: #ffffff;
    font-family: poppins;
}

.serprov .sub-container2-card button:hover {
    font-weight: 600;
}

.serprov .confirm-status {
    padding: 5px 30px;
    background-color: #c0f0d1;
    color: #3abd5f;
    font-weight: 600;
    border-radius: 6px;
    max-width: 152px;
    text-align: center;
}

.serprov .mob-subcontainer2-card {
    width: 100%;
    height: 140px;
    padding: 20px;
    font-size: 1.06rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    display: none;
}

@media Screen and (max-width: 1254px) {
    .serprov .sub-container2-card-name .name {
        font-size: 18px;
    }
    .serprov .sub-container2-card-service {
        font-size: 20px;
        display: block;
    }
}



@media Screen and (max-width: 1020px) {
    .sub-container2-card{
        height: 120px !important;
        margin-left: 50px;
        display: grid !important;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas:"area1 area2"
                            "area3 area4" ;
    }
    .sub-container2-card-ts{
        grid-area: area1 !important;
        
        width: 100%;
    }
    .sub-container2-card-name{
        grid-area: area3 !important;
        width: 100% !important;
        display: inline !important;
        
        
    }
    .sub-container2-card-name span{
        width: 100% !important;
        color: rgba(0, 0, 0, 0.7) !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        display: inline !important;
    }
    .confbtn{
        grid-area: area2 !important;
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .sub-container2-card-link{
        grid-area: area4 !important;
        width: 100%;
         display: flex;
        justify-content: right;
        text-align: right;
    }
    .serprov .sub-container2-card button
    {
        text-align: right;
    }

}

.serprov .modal-container.normal {
    width: 100%;
    height: 100%;
}

.serprov .modelcontent {
    height: 550px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
}

.serprov .modal-box h1 {
    text-align: center;
    margin-bottom: 10px;
}

.serprov .modaldatetime {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12%;
    color: var(--theme-purple);
    /* background-color: teal; */
}

.serprov .modaldetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: thistle; */
    height: 12%;
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.serprov .Reservationnote-cust {
    display: flex;
    flex-direction: column;
    height: 21%;
    align-items: flex-start;
    justify-content: center;
    /* background-color: lightcoral; */
}

.serprov .Reservationnote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 21%;
    /* background-color: lightseagreen; */
}

.serprov .savechange {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 10%;
    margin-top: 2px;
    /* background-color: yellow; */
}

.serprov .modalbutton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.serprov .modalbutton input:focus,
.serprov .modalbutton textarea:focus {
    border-color: none;
    outline: none;
    border-color: #6f6df4;
}

.btnalign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items:sp; */
}

.serprov .modaldatetime-time {
    width: 50%;
    color: Var(--theme-black);
}

.serprov .modaldatetime-date {
    width: 50%;
    text-align: right;
    color: Var(--theme-black);
}

.serprov .modaldatetime-time span {
    font-size: 20px;
}

.serprov .confirm-status span {
    text-align: center;
    font-size: 17px;
}

.serprov .modaldatetime-time {
    font-weight: 600;
}

.serprov span.duration {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-blue);
}

.serprov .Reservationnote-note.editable {
    border-radius: 6px;
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.serprov .modaldatetime {
    display: flex;
    flex-direction: row;
    color: var(--theme-purple);
}

.serprov .modaldetails-name {
    width: 50%;
}

.serprov .modaldetails-status {
    width: 50%;
    text-align: center;
    padding-left: 100px;
}

.serprov .savechange button {
    background: transparent;
    font-size: 16px;
    color: var(--theme-grey);
    font-weight: 600;
    text-align: right;
    text-decoration: none;
    padding: 2px;
    border: none;
    background-color: #ffffff;
    font-family: poppins;
}

.serprov .Reservationnote-name {
    font-size: 18px;
    font-weight: 600;
}

.serprov .service {
    font-weight: 600;
    font-size: 22px;
}

.serprov .name {
    font-size: 16px;
}

.serprov .modaldetails-name span.name {
    font-size: 16px;
    margin-bottom: 5px;
}

.btn.btnClose.normal {
    background-color: var(--theme-lightgrey);
    color: black;
}

.btnOpen.btnResRecall {
    background-color: var(--theme-blue);
    color: white;
}

.serprov button.btnOpen.new {
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 160px;
    border: none;
    padding: 7px 20px;
    border-radius: 6px;
    background-color: #1bc657;
    color: white;
}

.modal-container.new {
    height: 100%;
    width: 100%;
}
.more-details-modalbtnsection{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around !important;
}

.reservation-more-info .modal-box {
    height: 600px !important;
    width: 600px !important;
}


/* recall request modal */

.reservation-recall .modal-box {
    height: 470px !important;
    width: 600px !important;
}

.more-details-modalbtnsection {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}

.more-details-modalbtnsection Button {
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 160px;
    border: none;
    padding: 7px 20px;
    border-radius: 6px;
}


/* tableicon */

.serprov.leave .table2.table2-responsive {
    height: 600px;
}

button.editicon {
    border: none;
    background-color: transparent;
}


/* end table icon */


/* ---------------leave request ----------------- */

.modalbutton button {
    width: 160px;
    height: 40px;
    font-size: 16px;
}

.leavereason-input {
    height: 100px;
    overflow-wrap: break-word;
}

.text-group textarea {
    resize: none;
    width: 100%;
    height: 80px;
    padding: 5px 0 px 5px;
}

.leaverequest .modal-box {
    height: 420px;
    width: 500px;
}

.content.serprov.leave {
    width: 70%;
    margin: 0 auto 0 auto;
}

.content.serprov.leave .row.statusopt {
    width: 12%;
}

.content.serprov.leave .filter-options .options-container {
    display: flex;
    margin: 0 auto 0 auto;
    width: 100%;
    min-width: 330px;
}

.serprov.leave .dropdown-group {
    width: 70%;
}

.leavecountcard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    background-color: var(--white);
    height: 50px;
    width: 400px;
    border-radius: 6px;
}

.cardandbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    margin-left: 70px;
}

.leavecountcardleft {
    font-weight: 500;
    font-size: 18px;
    padding-right: 10px;
    color: var(--theme-grey);
}

.leavecountcardright {
    font-weight: 600;
    font-size: 22px;
}

.content.serprov.leave .page-top-main-container {
    margin: 30px 0 10px 0;
  
    display: flex;
    justify-content: right;
    width: 100%;
}