/* --------------Styles of the sideNav------------------- */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

.sidebar {
   width: 260px;
   height: 100%;
   padding: 0.5rem;
   background-color: var(--theme-black);
   position: fixed;
   transition: ease-in 0.4s;
   z-index: 3;
}

/* Sidebar Header */
.sidebar .header {
   height: 118px;
   padding: 1.2rem;
}

.sidebar .header img {
   max-width: 100%;
}

.sidebar .header .icon-logo {
   display: none;
}

/* End Sidebar Header */

/* Sidebar Nav */
.sidebar .nav {
   /* padding-top: 1.5rem; */
}

.sidebar ul,
.sidebar a {
   list-style: none;
   color: var(--white);
}

.sidebar .optionLink {
   display: flex;
   align-items: center;
   border-radius: 6px;
   padding: 0.9rem 1.5rem;
   transition: .3s ease-in-out;
}

.sidebar .optionLink:hover {
   background-color: var(--theme-grey);
}

.sidebar .optionLink div {
   display: flex;
   align-items: center;
   height: 25px;
}

.sidebar .optionIcon .sidenav-icon {
   max-height: 25px;
   margin-right: 12px;
}

.sidebar .optionTitle {
   width: 100%;
   overflow: hidden;
}

.sidebar .optionArrow img {
   max-height: 18px;
}

.sidebar .mainOption {
   margin-top: 0.4rem;
   font-weight: 500;
   letter-spacing: 0.3px;
   font-size: 0.9rem;
}

.sidebar .mainOption>.optionLink.selected {
   background-color: var(--theme-purple);
   transition: .3s;
}

.sidebar .mainOption>.optionLink.selected:hover {
   background-color: var(--theme-purple);
}

.sidebar .subMenu {
   overflow: hidden;
   max-height: 0;
   transition: max-height 0.4s ease-out;
}

.sidebar .subMenu.expanded {
   max-height: 200px;
}

.sidebar .subOption {
   margin-top: 0.2rem;
   font-weight: 400;
   font-size: 0.875rem;
}

.sidebar .subOption .optionTitle {
   padding-left: 37px;
}

.sidebar .subOption .optionLink.selected {
   background-color: var(--theme-grey);
}

/* End Sidebar Nav */

/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */