/* ------------------------------- */


/* ------Added by Ruwanthi-------- */


/* ------------------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.profileviewh1 {
    text-align: center;
    margin: 50px;
    font-weight: 600;
}

h1 {
    text-align: center;
    margin: 5px;
    font-weight: 600;
}

.profilecontent {
    width: 60%;
    height: 600px;
    /* background-color: violet; */
    margin: auto;
    display: flex;
    flex-direction: row;
}

.reservationlist {
    width: 30%;
    height: 250px;
    /* background-color: turquoise; */
    margin-top: 40px;
    display: flex;
    align-items: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2%;
    padding-top: 2%;
}

.basicinfo {
    /* background-color: tomato; */
    width: 34%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contactinfo {
    /* background-color: yellowgreen; */
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.basicinfo .item1 {
    /* background-color: lightblue; */
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basicinfo .item2 {
    /* background-color: rgb(208, 224, 134); */
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basicinfo .item3 {
    /* background-color: lightblue; */
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.basicinfo .item4 {
    /* background-color: rgb(208, 224, 134); */
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basicinfo .item5 {
    /* background-color: lightblue; */
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basicinfo .item6 {
    /* background-color: rgb(208, 224, 134); */
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basicinfo .item7 {
    /* background-color: rgb(208, 224, 134); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.item1img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

span.item2name {
    font-size: 20px;
    font-weight: 500;
    height: 50%;
    overflow: hidden;
    text-align: center;
}

span.item2type {
    font-size: 18px;
    height: 50%;
    font-weight: 500;
    color: #50515a;
}

.item3 span {
    font-size: 22px;
    margin: 3px;
    font-weight: 600;
}

.fa.fa-star {
    color: #444bf8;
}

.item4status {
    padding: 5px 50px;
    font-size: 18px;
    background-color: #c0f0d1;
    color: #3abd5f;
    border: none;
    border-radius: 6px;
}

.item5staffid {
    font-size: 20px;
    font-weight: 400;
}

.item5id {
    font-size: 20px;
    font-weight: 600;
}

.item6empdate {
    font-size: 20px;
    font-weight: 400;
}

.item6date {
    font-size: 20px;
    font-weight: 600;
}

.changepw {
    width: 200px;
    padding: 10px 10px;
    font-size: 18px;
    background-color: #037aff;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 5%;
}

.assignservices {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.servicelist {
    font-size: 18px;
    font-weight: 400;
    margin-top: 7px;
}

.contactinfo1 {
    height: 62%;
    width: 100%;
    /* background-color: yellowgreen; */
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
}

.contactinfo2 {
    height: 37%;
    width: 100%;
    font-size: 18px;
    /* background-color: thistle; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.listitem1,
.listitem2,
.listitem3,
.listitem4,
.listitem5 {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: purple; */
    /* justify-content: center; */
}

.listitem6 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: purple; */
}

.listitemleft,
.infoitemleft {
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;
    font-weight: 600;
    /* background-color: palevioletred; */
}

.listitemright,
.infoitemright {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 30px;
    /* background-color: powderblue; */
}

.listitemleft.add {
    justify-content: flex-end;
    align-items: flex-start;
}

.infoitem {
    width: 100%;
    height: 33%;
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: row;
}

@media Screen and (max-width: 1428px) {
    .profilecontent {
        width: 75%;
    }
}

@media Screen and (max-width: 980px) {
    .profilecontent {
        width: 95%;
    }
    .contactinfo {
        margin-left: 15px;
    }
}

.modal-box {
    height: 450px;
}

.modal-box h1 {
    text-align: center;
}

.pwditem1 {
    /* background-color: saddlebrown; */
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pwditemleft {
    margin-left: 5%;
    width: 50%;
    height: 100%;
    /* background-color: sandybrown; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.pwditemright {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.changepwd {
    width: 80%;
    height: 45px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}

.pwditem1 span {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
}

.pwditem1 button {
    height: 50px;
    width: 150px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

button.btn.btnClose.normal {
    background-color: #eaeaea;
}

button.btnOpen.new {
    background-color: #037aff;
    color: white;
}