/* ------This is a common stylesheet for every view------ */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --theme-purple: #444BF8;
  --theme-red: #FE3D4F;
  --theme-blue: #037AFF;
  --bg-theme-blue: #DBEBFD;
  --theme-black: #252631;
  --theme-bgwhite: #F2F2F7;
  --theme-grey: #50515A;
  --theme-lightgrey: #EAEAEA;
  --error-red: #DA2346;
  --bg-error-red: #FFD8DF;
  --success-green: #1BC657;
  --bg-success-green: #C0F0D1;
  --warning-yellow: #FFBF02;
  --bg-warning-yellow: #FFF6DC;
  --white: #FFFFFF;
  --black: #000000;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--black);
  background-color: var(--theme-bgwhite);
}

header {
  align-items: center;
  /* padding: 10px; */
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

footer {
  width: 100%;
  padding-right: 10px;
  height: 28px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer p{
  font-size: 14px;
  text-align: right;
  color: var(--theme-grey);
  display: block;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.horizontalCenter {
  display: flex;
  justify-content: center;
}

/* white box container */
.contentBox {
  font-weight: 500;
  margin: 0;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.rotated180 {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}



/* Common template for pages with tables */

.content .page-top-main-container {
  margin-top: 20px;
  padding: 0 70px;
  display: flex;
  justify-content: right;
  width: 100%;
}

.content .page-top-main-container .btn {
  font-weight: 500;
  padding: 7px;
  width: 120px;
}

.content .filter-options .options-container {
  display: flex;
  padding: 15px 70px 10px;
  width: 100%;
  min-width: 330px;
}

.content .filter-options .options-container label{
  margin-top: 10px;
}

.content .filter-options .options-container .left-section {
  width: 100%;
  margin-right: auto;
}

.content .filter-options .options-container .right-section {
  margin-left: 30px;
}

.content .filter-options .options-container .btn {
  margin-top: 35px;
  font-weight: 500;
  padding: 7px;
  width: 120px;
}

@media (max-width: 940px) {
  .content .filter-options .options-container {
    flex-direction: column;
  }

  .content .filter-options .options-container .right-section {
    margin-left: auto;
  }

  .content .filter-options .options-container .btn {
    margin-top: 0px;
  }
}

/* End of Common template for pages with tables */


/* Common button styles */

.btn {
  display: block;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  box-shadow:  rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
}

.btn.btn-filled {
  border: none;
  color: var(--white);
}

.btn.btn-outlined {
  background-color: transparent;
}

.btn.btn-filled.btn-theme-purple {
  background-color: var(--theme-purple);
}

.btn.btn-filled.btn-error-red {
  /* transition: 0.4s ease-in-out; */
  background-color: var(--error-red);
}

/* .btn.btn-filled.btn-error-red:hover {
  background-color: #d63452;
} */

.btn.btn-filled.btn-black {
  background-color: var(--theme-black);
}

.btn.btn-outlined.btn-black {
  border: 2px solid var(--theme-black);
  color: var(--theme-black);
}

.btn.btn-filled.btn-grey {
  background-color: var(--theme-grey);
}

.btn.btn-outlined.btn-error-red {
  border: 2px solid var(--error-red);
  color: var(--error-red);
}

.btn.btn-filled.btn-blue {
  background-color: var(--theme-blue);
}

.btn.btn-outlined.btn-theme-purple  {
  border: 2px solid var(--theme-purple);
  color: var(--theme-purple);
}

.btn.btn-filled.btn-success-green {
  background-color: var(--success-green);
}

/* End of Common button styles */


/* Common styles for status boxes */

.status-tag {
  display: block;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  width: 120px;
  /*Remove this later*/
}

.status-error-red {
  background-color: var(--bg-error-red);
  color: var(--error-red);
}

.status-success-green {
  background-color: var(--bg-success-green);
  color: var(--success-green);
}

/* End of Common styles for status boxes */





/* Common styles for top right close btn */

.top-right-closeBtn {
  color: var(--theme-grey);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: ease-in-out 0.3s;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right-closeBtn:hover {
  color: var(--black);
}


.white-red-hover {
  color: var(--theme-lightgrey) !important;
}

.white-red-hover:hover {
  color: var(--theme-red) !important;
}

/* End of Common styles for top right close btn */


/* error page styles */

.error404 .main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.error404 .inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error404 .inner-container h1 {
  display: block;
  font-size: 280px;
  font-weight: 700;
  color: var(--theme-black);
}

.error404 .btn {
  margin-top: 20px;
  padding: 7px;
  width: 150px;
}

@media (max-width: 768px) {
  .error404 .inner-container h1 {
    font-size: 250px;
  }
}

@media (max-width: 768px) {
  .error404 .inner-container h1 {
    display: block;
    font-size: 250px;
    font-weight: 700;
    line-height: 300px;
    color: var(--theme-black);
  }
}

/* end of error page styles */

/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY RAVINDU-------------------*/
/* ------------------------------------------------------ */


/* resizing styles of resources content */
.content.resources{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

/* #################################################################### */

.services.section .title{
  color: var(--white);
}
.services.section .cardContainer{
  width: 1000px;
  height: auto;
}
.services.section .cardHead{
  background-color: var(--theme-black);
  color: var(--white);
  border-radius: 6px 6px 0 0;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.services.section .cardRow {
  /* word-wrap: break-word; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* gap: 20px; */
  margin: 20px;
}

.services.section .cardDetails{
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
  
}


.services.section .cardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 15px;
  grid-template-areas:
  'servsecCard1 servsecCard2 '
}

.services.section .card1 {
  grid-area: servsecCard1;
  background-color: var(--white);
  height: 500px;
  border-radius: 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.services.section .card2 {
  grid-area: servsecCard2;
  padding-bottom: 10px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.services.section .CardDetailsValue,
.services.section .CardDetailsLabel{
  font-weight: 500;
}
.services.section .Llength{
  width: 400px;
}
.services.section .CardDetailsValue{
  float: right;
  color:var(--theme-red);  
}
/* ##################################################################### */





.services.section{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 10px 30px;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../imgs/bg1.jpeg");
  background-image: linear-gradient(rgba(33, 34, 37, 0.7), rgba(73, 74, 78, 0.7)), url("../imgs/bg1.jpeg");
  background-position: top;
  background-size: cover;
  position: relative;
}
.services.section .mySlides {
  display: none;
}

/* Slideshow container */
.services.section .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.services.section .prev,
.services.section .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: -60px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.services.section .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.services.section .prev:hover,
.services.section .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.services.section .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.services.section .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.services.section .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.services.section .active,
.services.section .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.services.section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
     opacity: .4
  }

  to {
     opacity: 1
  }
}

@keyframes fade {
  from {
     opacity: .4
  }

  to {
     opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next {
     font-size: 14px
  }
}
/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY RAVINDU ---------------*/
/* ------------------------------------------------------ */
