/* Full page container */

.content.admin {
    /* width: 100vw;
    min-height: 100vh; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content.admin .ownAddstaffContainer.contentBox {
    margin-top: 50px;
}


/* Common container for reg and singin */

.form-container {
    display: flex;
    justify-content: center;
    padding: 50px !important;
}

.login-container {
    width: 450px;
    height: 450px;
}

.content.admin .reg-container {
    width: 650px;
    height: fit-content;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .reg-container {
        width: 80%;
    }
}

@media (max-width: 656px) {
    .form-container .btn.middle {
        margin-top: 0 !important;
    }
}

@media (max-width: 520px) {
    .reg-container {
        min-width: 416px;
    }
    .reg-container {
        width: 100vw;
    }
}

.form {
    width: 100%;
}

.form .title {
    text-align: center;
    padding-bottom: 20px;
}

.form .row {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0 25px;
}

.form .row-last {
    margin-bottom: 10px !important;
}

.form .column.spec {
    margin-top: 23px;
}

.form .text-group,
.form .radio-container {
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    display: block;
    border-radius: 5px;
    padding: 5px 20px;
    border: hidden;
    height: 40px;
    width: 100%;
    background-color: var(--theme-lightgrey);
}

.form .pin {
    letter-spacing: 4px;
}

.login-container input[type="text"] {
    /* margin: 20px 0; */
}

.reg-container input[type="text"] {
    /* padding: 5px 20px; */
    /* margin-top: 5px; */
}

.form .radio-container {
    margin-top: 5px;
}

.form .radio-group {
    align-self: center;
    display: inline;
    cursor: pointer;
    margin-right: 15px;
}

.form .radio-group span {
    font-size: 14px;
}

.form .error {
    display: block;
    font-size: 13px;
    color: var(--theme-red);
}

.form hr {
    margin-bottom: 10px;
    color: var(--theme-lightgrey);
}

.login-container .forgot-password {
    display: block;
    margin-left: auto;
    width: 100%;
}

.form-container .btn {
    height: 35px;
    width: 150px;
}

.form-container .btn.middle {
    margin-top: 27px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.footer-container .btn {
    margin: 20px auto 20px auto;
}

.footer-container p {
    text-align: center;
}

.content.systemlogdownload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.systemlog button {
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

i.fa.fa-download {
    margin-right: 15px;
}