/* ------------------------------------------------------ */
/* -------------STYLES ADDED BY SANJANA ----------------- */
/* ------------------------------------------------------ */


:root {
--theme-purple: #444BF8;
--theme-blue: #037AFF;
--theme-black: #252631;
--theme-bgwhite: #F2F2F7;
--theme-grey: #50515A;
--white: #FFFFFF;
--black: #000000;
}

.table-container{
  /*position: absolute;
  top: 90px;
  left: 260px;
  right: 0px;
  bottom: 35px;*/
  
  height: 100%;
  overflow-x: auto;
  padding: 40px 40px;
}

.table-responsive{
  min-width: 355px;
}

.table-container span{
  display: inline-block;
  width: 90px;
}

.table{
  font-size: 13px;
  width: 100%;
  margin: 0;
  border-collapse: separate;
  background-color: var(--white);
  border-color: #38A36D;
  color: #1b1e24;
  /* padding: 15px; */
  margin: auto;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.table-hover tbody tr:hover td{
  background-color: #f4f5f7;
}

tr{
  border-radius: 6px;
}

.table thead th{
  font-size: 15px;
  font-weight: 600;
  position: sticky;
  padding: 20px 13px;
  padding-bottom: 20px;
  border-spacing: 10px;
  background-color: var(--theme-black);
  color: var(--white);
  border: none;
  margin: none;
}

.table td {
  padding: 5px 15px;
  border-bottom: 2px solid #eaeaea;
}

.table tr:last-child td{
  border-bottom: 0;
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: #a4a5a7;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  left: 3px;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="checkbox"]:after{
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 600;
  font-size: 10px;
  color: white;
  display: none;
}

input[type="checkbox"]:hover{
  background-color: #adb5bd;
}

input[type="checkbox"]:checked{
  background-color: var(--theme-black);
}

input[type="checkbox"]:checked:after{
  display: block;
}

.btn{
  border: none;
  padding: 3px 2px;
  border-radius: 6px;
  transition-duration: 0.4s;
  font-weight: 500;
}

.paid-btn{
  width: 80px;
  background-color: #C0F0D1;
  color:#38A36D;
}

.not-paid-btn{
  width: 80px;
  background-color: #FFC5CA;
  color:#DC3545;
}

.pay-now-btn{
  width: 82px;
  color: #fff;
  background-color: var(--theme-black);
}

.paid-btn:hover {
  background-color: #b7e4c7;
}

.not-paid-btn:hover {
  background-color: #ffb3c1;
}

.pay-now-btn:hover {
  background-color: #6c757d;
}

.img-profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  /*border: 0px solid var(--theme-black);*/
}

.img-view-edit-update{
  margin-inline: 3px;
  width: 20px;
  height: 20px;
}
.text-uppercase {
  text-transform: uppercase;
}

.column-right-align{
  text-align: right;
}

.column-center-align{
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-content: center; */
  /* text-align: center; */
}

@media (max-width:  925px){
  .table{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    font-size: 14px;
    display: block;
    width: 100%;
  }

  .table tr{
    margin-bottom: 25px;
    /*box-shadow: 0 2px 12px rgba(30,30,30,.5);*/
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 6px;
  }

  .table tbody tr td{
    text-align: right;
    padding: 15px;
    position: relative;
  }

  .table-hover tbody tr:hover td{
    background:none;
  }

  .table tbody tr td:nth-child(1){
    /* width: 80px; */
    text-align: right;
    position: absolute;
    left: -55px;
    border-bottom: 0;
  }

  .table tbody tr td:nth-child(2){
    width: 80px;
    padding-left: 15px;
    padding: 10px;
    position: relative;
    border-bottom: 0;
  }

  .table tbody tr td:nth-child(9){
    border-bottom: 0;
  }

  .table td:before{
    content: attr(data-lable);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 20px;
    font-weight: 600;
    text-align: left;
  }

  input[type="checkbox"]{
    display: inline-flex;
  }

  .table tr:last-child td{
    border-bottom: 2px solid #eaf2f9;
  }

}

/* ------------------------------------------------------ */
/* ----------END OF STYLES ADDED BY SANJANA-------------- */
/* ------------------------------------------------------ */