/* ------This is a common stylesheet for every view------ */

/* ------------------------------------------------------ */
/* -------------STYLES ADDED BY SANJANA ----------------- */
/* ------------------------------------------------------ */

.table2-responsive{
    /* height: 400px; */
    padding: 20px 70px;
    min-width: 500px;
}

.table2 table{
    font-size: 13px;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    color: #1b1e24;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    /* height: 490px;
    table-layout: fixed; */
}

/* .table2-hover tbody{
  display:block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.table2-hover thead tr {
   display: block;
} */
.table2 table thead th{
    /* width: 100%; */
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px;
    /* padding: 20px 45px; */
    padding-bottom: 20px;
    border-spacing: 10px;
    background-color: var(--theme-black);
    color: var(--white);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table2 table th:first-child{
    border-radius:6px 0 0 0;
}

.table2 table th:last-child{
    border-radius:0 6px 0 0;
}

.table2 table td {
    /* width: 100%; */
    /* padding: 15px 45px; */
    padding: 15px 20px;
    border-top: none;
    border-bottom: 1px solid #eaeaea;
}

.table2 table tr:last-child td{
    border-bottom: 0;
}

.table2-responsive span{
    display: inline-block;
    width: 110px;
}

@media (max-width:  1000px){
    
    .table2 table{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .table2 table thead{
        display: none;
    }

    .table2 table tbody, .table2 table tr, .table2 table td{
        font-size: 14px;
        display: block;
        width: 100%;
    }

    .table2 table tr{
        margin-bottom: 25px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        background-color: white;
        border-radius: 6px;
        padding: 10px;
    }

    .table2 table tbody tr td{
        text-align: right;
        padding: 8px;
        position: relative;
        border-bottom: none;
    }

    .table2-hover tbody tr:hover td{
        background:none;
    }

    .table2 table tbody tr td:last-child{
        border-bottom: 0;
    }

    .table2 table td:before{
        content: attr(data-lable);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        text-align: left;
        font-weight: 600;
    }
}
  
  /* ------------------------------------------------------ */
  /* ----------END OF STYLES ADDED BY SANJANA-------------- */
  /* ------------------------------------------------------ */