/* ------This is a common stylesheet for every view------ */

/* ------------------------------------------------------ */
/* --------------STYLES ADDED BY DEVIN -------------------*/
/* ------------------------------------------------------ */

:root {
  --theme-purple: #444BF8;
  --theme-blue: #037AFF;
  --theme-black: #252631;
  --theme-bgwhite: #F2F2F7;
  --theme-grey: #50515A;
  --white: #FFFFFF;
  --black: #000000;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: var(--theme-bgwhite);
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

<<<<<<< HEAD
/* template-2 */
.layout-template-2 header {
  grid-area: header;
  justify-content: center;
}

.layout-template-2 .header-center {
  justify-content: center;
  width: calc(100vw - 90px);
  padding-left: 70px;
  background-color: coral;
}

.layout-template-2 .header-right {
  justify-content: center;
  width: 70px;
  background-color: deeppink;
}

/* header profile section */

.header-profile {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic name arrow"
    "pic role role";
  width: 300px;
  height: 70px;
  border-radius: 60px;
  padding: 5px;
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.header-profilepic {
  grid-area: pic;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-right: 15px;
}

.header-username {
  grid-area: name;
  align-items: baseline;
  height: 30px;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 500;
}

.header-userRole {
  grid-area: role;
  height: 30px;
  padding-top: 2px;
  font-size: 15px;
  font-weight: 500;
  color: var(--theme-grey);
}

.header-profile-arrow {
  grid-area: arrow;
  height: 30px;
  padding-top: 10px;
  padding-left: 5px;
  vertical-align: middle;
}

/* End header profile section */

/* End Header */

/* Content */

.layout-template-1 .content {
  grid-area: content;
  /*background-color: aquamarine;*/
=======
h3 {
  font-size: 20px;
  font-weight: 600;
>>>>>>> f327b30d28abcb9d9ff2798db8dcc9f403589924
}

footer {
  height: 100%;
  background-color: lime;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.verticalCenter {
  display: flex;
  height: 100%;
  align-items: center;
}

/* white box container */
.contentBox {
  font-weight: 500;
  margin: 0;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

<<<<<<< HEAD
.contentNewRes > div {
  margin: 15px;
}

.contentNewRes .resDetails {
  grid-area: resDetails;
  background-color: lavender;
}

.contentNewRes .resDetails .addAnother{
  display: flex;
  height: ;
  justify-content: center;
  grid-area: resDetails;
  color: var(--theme-blue);
  font-weight: 500;
}

.contentNewRes .cusDetails {
  grid-area: cusDetails;
  background-color: lightyellow;
}

.contentNewRes .notes {
  grid-area: notes;
  background-color: palevioletred;
}

/* End Content */

/* Footer */

footer {
  grid-area: footer;
  height: 100%;
  background-color: lime;
  width: 100%;
  margin: auto;
}

.layout-template-2 footer {
  max-width: 80rem;
}

/* End Footer */




/* -------------------table design----------------------- */
table {
  border-collapse: collapse;
   border-radius: 6px; 
}

thead {
  background-color: #252631;
  color: #FFFFFF;
}

tbody {
  background-color: #FFFFFF;
}

th,
td {
  border: 1px solid #444bf8;
  padding: 10px 20px;
  font-size: 14px;
}

td img {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}


=======
>>>>>>> f327b30d28abcb9d9ff2798db8dcc9f403589924
/* ------------------------------------------------------ */
/* -----------END OF STYLES ADDED BY DEVIN ---------------*/
/* ------------------------------------------------------ */