<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
   <link rel="stylesheet" href="../../public/css/style.css" />
   <link rel="stylesheet" href="./btnLabel.css">

</head>

<body>
   <div class="top-section"></div>
   <div class="content contentBox">
      <h1>Buttons and Labels</h1>
      <div class="btnContainer">
         <div>
            <input type="button" value="Success btn" class="btn btn-small btn-success">
         </div>
         <div>
            <input type="button" value="Warning btn" class="btn btn-small btn-warning">
         </div>
         <div>
            <input type="button" value="Error btn" class="btn btn-small btn-error">
         </div>
      </div>
      <div class="btnContainer">
         <div>
            <input type="button" value="Pay now" class="btn btn-small btn-black">
         </div>
         <div>
            <input type="button" value="Pay now" class="btn btn-small btn-black-disabled">
         </div>
      </div>
      <div class="btnContainer">
         <div>
            <input type="button" value="Add a Reservation" class="btn btn-large btn-primary-1">
         </div>
         <div>
            <input type="button" value="Add a Reservation" class="btn btn-large btn-primary-2">
         </div>
         <div>
            <input type="button" value="Add a Reservation" class="btn btn-large btn-special">
         </div>
      </div>
      <div class="btnContainer">
         <div class="status-label">
            <div class="circle status-success"></div>
            <span>Success</span>
         </div>
         <div class="status-label verticalCenter">
            <div class="circle status-warning"></div>
            <span>Warning</span>
         </div>
         <div class="status-label verticalCenter">
            <div class="circle status-error"></div>
            <span>Error</span>
         </div>

      </div>
   </div>

</body>

</html>