<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="../../assets/css/style.css" />

</head>

<body>

   <div class="tabletemp">
      <table>
         <thead>
            <tr>
               <th>Staff Member Name</th>
               <th>Staff No</th>
               <th>Staff Type</th>
               <th>Contact No</th>
               <th>Rating</th>
               <th>Status</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><img src="../../assets/img/person1.jpg"></img>Devin Dissanayake</td>
               <td>R0001</td>
               <td>Receptionist</td>
               <td>0717679714</td>
               <td>4.5</td>
               <td>Available</td>
               <td><button>View</button></td>
            </tr>
            <tr>
               <td><img src="../../assets/img/person2.jpg"></img>Sanjana Rajapaksha</td>
               <td>M0002</td>
               <td>Manager</td>
               <td>0711234567</td>
               <td>N/A</td>
               <td>Available</td>
               <td><button>View</button></td>
            </tr>
            <tr>
               <td><img src="../../assets/img/person3.jpg"></img>Ruwanthi Munasinghe</td>
               <td>E0005</td>
               <td>Employee</td>
               <td>0711234568</td>
               <td>N/A</td>
               <td>Available</td>
               <td><button>View</button></td>
            </tr>
         </tbody>

      </table>
   </div>
   <script src="../../assets/js/jquery-3.6.0.min.js"></script>
   <script src="../../assets/js/sidebar.js"></script>
</body>

</html>