<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/table2Style.css " />
    <link rel="stylesheet" href="../../public/css/table1Style.css " />
    <link rel="stylesheet" href="../../public/css/style.css" />

</head>
<body>
      <!--Content-->
      <div class="table-container">
        <div class="table2 table2-responsive">
           <table class="table2-hover">
              <!--Table head-->
              <thead>
                 <tr>
                    <th class="">Reservation No</th>
                    <th class="">Service Provider</th>
                    <th class="">Customer</th>
                    <th class="column-right-align">Price</th>
                 </tr>
              </thead>
              <!--End of table head-->

              <!--Table body-->
              <tbody>

                 <!--Table row-->
                 <tr>
                    <td data-lable="Reservation No">Res0001</td>
                    <td data-lable="Service Provider">Sanjana Rajapaksha</td>
                    <td data-lable="Customer">Ruwanthi Munasinghe</td>
                    <td data-lable="Price" class="column-right-align">250.00 LKR</td>
                 </tr>
                 <!--End of table row-->

                 <!--Table row-->
                 <tr>
                    <td data-lable="Reservation No">Res0002</td>
                    <td data-lable="Service Provider">Sethni Nimesha</td>
                    <td data-lable="Customer">Kamal Perera</td>
                    <td data-lable="Price" class="column-right-align">350.00 LKR</td>
                 </tr>
                 <!--End of table row-->

                 <!--Table row-->
                 <tr>
                    <td data-lable="Reservation No">Res0003</td>
                    <td data-lable="Service Provider">Ravindu Madhubashana</td>
                    <td data-lable="Customer">Sarith Karunarathne</td>
                    <td data-lable="Price" class="column-right-align">150.00 LKR</td>
                 </tr>
                 <!--End of table row-->
                 <!--Table row-->
                 <tr>
                  <td data-lable="Reservation No">Res0001</td>
                  <td data-lable="Service Provider">Ruwanthi Munasinghe</td>
                  <td data-lable="Customer">Ruwanthi Munasinghe</td>
                  <td data-lable="Price" class="column-right-align">250.00 LKR</td>
               </tr>
               <!--End of table row-->

               <!--Table row-->
               <tr>
                  <td data-lable="Reservation No">Res0002</td>
                  <td data-lable="Service Provider">Devin Dissanayake</td>
                  <td data-lable="Customer">Kamal Perera</td>
                  <td data-lable="Price" class="column-right-align">350.00 LKR</td>
               </tr>
               <!--End of table row-->
               
               <!--Table row-->
               <tr>
                  <td data-lable="Reservation No">Res0001</td>
                  <td data-lable="Service Provider">Sanjana Rajapaksha</td>
                  <td data-lable="Customer">Ruwanthi Munasinghe</td>
                  <td data-lable="Price" class="column-right-align">250.00 LKR</td>
               </tr>
               <!--End of table row-->

               <!--Table row-->
               <tr>
                  <td data-lable="Reservation No">Res0002</td>
                  <td data-lable="Service Provider">Sethni Nimesha</td>
                  <td data-lable="Customer">Kamal Perera</td>
                  <td data-lable="Price" class="column-right-align">350.00 LKR</td>
               </tr>
               <!--End of table row-->

               <!--Table row-->
               <tr>
                  <td data-lable="Reservation No">Res0003</td>
                  <td data-lable="Service Provider">Ravindu Madhubashana</td>
                  <td data-lable="Customer">Sarith Karunarathne</td>
                  <td data-lable="Price" class="column-right-align">150.00 LKR</td>
               </tr>
               <!--End of table row-->
               <!--Table row-->
               <tr>
                <td data-lable="Reservation No">Res0001</td>
                <td data-lable="Service Provider">Ruwanthi Munasinghe</td>
                <td data-lable="Customer">Ruwanthi Munasinghe</td>
                <td data-lable="Price" class="column-right-align">250.00 LKR</td>
             </tr>
             <!--End of table row-->

             <!--Table row-->
             <tr>
                <td data-lable="Reservation No">Res0002</td>
                <td data-lable="Service Provider">Devin Dissanayake</td>
                <td data-lable="Customer">Kamal Perera</td>
                <td data-lable="Price" class="column-right-align">350.00 LKR</td>
             </tr>
             <!--End of table row-->

               <!--Table row-->
               <tr>
                  <td data-lable="Reservation No">Res0003</td>
                  <td data-lable="Service Provider">Pubudu Wijekon</td>
                  <td data-lable="Customer">Sarith Karunarathne</td>
                  <td data-lable="Price" class="column-right-align">150.00 LKR</td>
               </tr>
               <!--End of table row-->
                 
              </tbody>
              <!--End of table body-->

           </table>
        </div>
      </div>
      <!--End Content-->

      <!--Footer-->
      <footer>
      </footer>
      <!--End Footer-->

      <script src="../../public/js/jquery-3.6.0.min.js"></script>
      <script src="tableStyle.js"></script>
      <script src="../../public/js/sidebar.js"></script>
   </body>
</html>