<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="../../assets/css/style.css" />

</head>

<body class="layout-template-1">
   <!--Sidebar-->
   <div class="sidebar">
      <!--Sidebar Header-->
      <div class="sidebar-header">
         <a href="receptionistDashboard.html">
            <div>
               <img src="../../assets/img/logo-white.png" alt="BeautyCraft">
            </div>
         </a>
      </div>
      <!--End Sidebar Header-->
      <!--Sidebar Navigation-->
      <nav class="sidebar-nav">
         <!--Sidebar Menu-->
         <ul class="sidebar-main_menu">

            <!--Sidebar Item-->
            <li class="sidebar-main_menu_item sidebar-menu_item">
               <a class="sidebar-menu_item-link  main-selected" href="./mainOption1.html">
                  <div class="sidebar-menu_item-icon">
                     <img src="../../assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Main Option 1</div>
               </a>
            </li>
            <!--End Sidebar Item-->

            <!--Sidebar Item-->
            <li class="sidebar-main_menu_item sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="../../assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Main Option 2</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="../../assets/icons/expand-white.png" />
                  </div>
               </a>
               <!--Sidebar Sub Menu-->
               <ul class="sidebar-sub_menu">
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption1.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 1</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption2.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 2</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->

               </ul>
               <!--End Sidebar Sub Menu-->
            </li>
            <!--End Sidebar Item-->

            <!--Sidebar Item-->
            <li class="sidebar-main_menu_item sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="../../assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Main Option 3</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="../../assets/icons/expand-white.png" />
                  </div>
               </a>

               <!--Sidebar Sub Menu-->
               <ul class="sidebar-sub_menu">
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption3.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 3</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption4.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 4</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
               </ul>
               <!--End Sidebar Sub Menu-->
            </li>
            <!--End Sidebar Item-->
         </ul>
         <!--End Sidebar Menu-->
      </nav>
      <!--End Sidebar Navigation-->

   </div>
   <!--End Sidebar-->

   <!--Header(Top Bar)-->
   <header class="side-header">
      <div class="header-right">
         <i class="fas fa-bars fa-2x"></i>
         <span class="header-topic">Calendar</span>
      </div>

      <div class="header-profile">
         <img class="header-profilepic" src="../../assets/img/person1.jpg"></img>
         <span class="header-username">Devin Dissanayake</span>
         <span class="header-userRole">Receptionist</span>
         <span class="header-profile-arrow">
            <i class="fas fa-chevron-down "></i>
         </span>

         <!-- <img class="header-profile-arrow" src="../../assets/icons/overview-white.png" /> -->
      </div>
   </header>
   <!--End Header(Top Bar)-->

   <!--Content-->
   <div class="content">
   </div>
   <!--End Content-->

   <!--Footer-->
   <footer>
   </footer>
   <!--End Footer-->

   <script src="../../assets/js/jquery-3.6.0.min.js"></script>
   <script src="../../assets/js/sidebar.js"></script>
</body>


</html>