<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
   <link rel="stylesheet" href="../../assets/css/style.css" />
   <link rel="stylesheet" href="./indexStyle.css">

</head>

<body>
   <header>
      <!-- <div class="index-logo"></div>
      <nav><ul>
         <li><a href="#"></a></li>

      </ul></nav> -->

   </header>
   <div class="top-section"></div>
   <div class="content contentBox">
      <h1>Your form here</h1>
      <div class="btnContainer">
         <div><input type="button" value="Success btn" class="btn btn-small btn-success"> </div>
         <div><input type="button" value="Warning btn" class="btn btn-small btn-error"></div>
         <div><input type="button" value="Pay now" class="btn btn-small btn-black"></div>
         <div><input type="button" value="Pay now" class="btn btn-small btn-black-disabled"></div>
         <div class="status-label">
            <div class="circle status-success"></div>
            <span>Success</span>
         </div>
         <div class="status-label verticalCenter">
            <div class="circle status-warning"></div>
            <span>Warning</span>
         </div>
         <div class="status-label verticalCenter">
            <div class="circle status-error"></div>
            <span>Error</span>
         </div>
         <div>
            <input type="button" value="Add a Reservation" class="btn btn-large btn-primary">
         </div>
      </div>









   </div>

   <footer></footer>

</body>

</html>