<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
   <link rel="stylesheet" href="../../../public/css/style.css">
   <link rel="stylesheet" href="../../../Templates/btnLabelTemplate/btnLabel.css" />
   
   <link rel="stylesheet" href="./indexStyle.css">

</head>

<body class="landingPage">
   <header>
      <nav>
         <div class="logo">
            <a href="index.html">
               <img src="../../../public/imgs/logoTextWhite.png" alt="logo">
            </a>
         </div>
         <div class="links">
            <ul>
               <li>
                  <a href="">Home</a>
               </li>
               <li>
                  <a href="">Services</a>
               </li>
               <li>
                  <a href="">Staff</a>
               </li>
               <li>
                  <a href="">Gallery</a>
               </li>
               <li>
                  <a href="">Contact</a>
               </li>
            </ul>
         </div>
         <div class="profie">
            <button class="btn btn-large btn-special btnProfile">
               <span>Devin Dissanayake</span>
            </button>
            <button class="btn btn-large btn-special btnLogin">
               <span>Login</span>
            </button>
            <button class="btn btn-large btn-special btnRegister">
               <span>Register</span>
            </button>
         </div>
      </nav>
      <div class="bottom">
         <span>Redefining Your </span><span class="red">BEAUTY</span></span>
         <a href="#"><button class="btn btn-large btn-special btnMakeRes"> Make a Reservation </button></a>
      </div>
   </header>

   <div class="features section">
      <span class="title">WHY CHOOSE US</span>
   </div>
   <div class="services section">
      <span class="title">OUR SERVICES</span>
   </div>

   <div class="team section">
      <span class="title">MEET OUR TEAM</span>
   </div>
   <div class="gallery section">
      <span class="title">GALLERY</span>
   </div>
   <div class="testimonials section">
      <span class="title">WHAT THEY SAY</span>
   </div>
   <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laudantium voluptas animi amet beatae aliquid
      praesentium quisquam repellat consequatur rem, quas, voluptatum nisi ipsa, earum nihil sequi corrupti commodi
      alias?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus labore a earum unde! Dolor asperiores
      rerum deleniti architecto, ab fugiat delectus veniam aut laboriosam nostrum, autem natus dolores, cupiditate quam.
      Sed a voluptatibus doloribus iste exercitationem vel doloremque cumque reprehenderit officia, repellendus labore
      quasi quam inventore cum nesciunt excepturi eligendi nostrum incidunt quibusdam culpa ab delectus beatae.
      Voluptatibus, excepturi consequatur! Rerum, ab sapiente magni vel voluptatum eum, nulla neque accusantium placeat
      amet quam blanditiis. Officiis exercitationem inventore molestias quam, magni, natus necessitatibus minima,
      laboriosam eveniet et similique. Consequatur tenetur sint dicta alias. Omnis amet dolor quae sint quia similique.
   </div>










   </div>

   <footer></footer>

</body>

</html>