<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="./assets/css/style.css" />

</head>

<body>
   <!--Sidebar-->
   <div class="sidebar">
      <div class="sidebar-header">
         <a href="index.html">
            <div>
               <img src="./assets/img/logo-white.png" alt="BeautyCraft">
            </div>
         </a>
      </div>
      <nav class="sidebar-nav">
         <!--Sidebar Menu-->
         <ul class="sidebar-menu--top_level">
            <!--Sidebar Item-->
            <li class="sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="./assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Overview</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="./assets/icons/expand-white.png" />
                  </div>
               </a>

               <!--Sidebar Sub Menu-->
               <ul class="sidebar-menu--second_level">
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item">
                     <a class="sidebar-menu_item-link" href="#">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">All Reservations</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item">
                     <a class="sidebar-menu_item-link" href="#">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Cancelled Reservations</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
               </ul>
               <!--End Sidebar Sub Menu-->
            </li>
            <!--End Sidebar Item-->
            <!--Sidebar Item-->
            <li class="sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="./assets/icons/reservations-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Reservations</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="./assets/icons/expand-white.png" />
                  </div>
               </a>
            </li>
            <!--End Sidebar Item-->
            <!--Sidebar Item-->
            <li class="sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="./assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Overview</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="./assets/icons/expand-white.png" />
                  </div>
               </a>

               <!--Sidebar Sub Menu-->
               <ul class="sidebar-menu--second_level">
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item">
                     <a class="sidebar-menu_item-link" href="#">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">All Reservations</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item">
                     <a class="sidebar-menu_item-link" href="#">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Cancelled Reservations</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
               </ul>
               <!--End Sidebar Sub Menu-->
            </li>
            <!--End Sidebar Item-->
         </ul>
         <!--End Sidebar Menu-->
      </nav>
   </div>
   <!--End Sidebar-->


   <!--Main Container-->
   <main class="main-container">
      <!--Header(Top Bar)-->
      <header>
         <div class="header-profile">
         </div>
      </header>
      <!--End Header(Top Bar)-->

      <!--Content-->
      <div class="content">
      </div>
      <!--End Content-->

      <!--Footer-->
      <footer>
      </footer>
      <!--End Footer-->
   </main>
   <!--End Main Container-->

   <!-- <script>
      let buttons = document.querySelectorAll(".sidebar-menu_item");

      for (var i = 0; i < buttons.length; i++) {
         buttons[i].addEventListener("click", (e) => {
            let arrowParent = e.target.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle("showMenu")
         });
      }
   </script> -->
   <script src="./assets/js/jquery-3.6.0.min.js"></script>
   <script src="./assets/js/main.js"></script>
</body>


</html>