<!DOCTYPE html>
<html>

<head>
   <!--Meta-->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

   <title>Beauty Craft</title>

   <!--Style Sheet-->
   <link rel="stylesheet" href="../../assets/css/style.css" />

</head>

<body>
   <!--Sidebar-->
   <div class="sidebar">
      <div class="sidebar-header">
         <a href="receptionistDashboard.html">
            <div>
               <img src="../../assets/img/logo-white.png" alt="BeautyCraft">
            </div>
         </a>
      </div>
      <nav class="sidebar-nav">
         <!--Sidebar Menu-->
         <ul class="sidebar-main_menu">

            <!--Sidebar Item-->
            <li class="sidebar-main_menu_item sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="./mainOption1.html">
                  <div class="sidebar-menu_item-icon">
                     <img src="../../assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Main Option 1</div>
               </a>
            </li>
            <!--End Sidebar Item-->

            <!--Sidebar Item-->
            <li class="sidebar-main_menu_item sidebar-menu_item">
               <a class="sidebar-menu_item-link main-selected" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="../../assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Main Option 2</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="../../assets/icons/expand-white.png" />
                  </div>
               </a>
               <!--Sidebar Sub Menu-->
               <ul class="sidebar-sub_menu showSubMenu">
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption1.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 1</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link sub-selected" href="./subOption2.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 2</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
               </ul>
               <!--End Sidebar Sub Menu-->
            </li>
            <!--End Sidebar Item-->


            <!--Sidebar Item-->
            <li class="sidebar-main_menu_item sidebar-menu_item">
               <a class="sidebar-menu_item-link" href="#">
                  <div class="sidebar-menu_item-icon">
                     <img src="../../assets/icons/overview-white.png" />
                  </div>
                  <div class="sidebar-menu_item-title">Main Option 3</div>
                  <div class="sidebar-menu_item-arrow">
                     <img src="../../assets/icons/expand-white.png" />
                  </div>
               </a>

               <!--Sidebar Sub Menu-->
               <ul class="sidebar-sub_menu">
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption3.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 3</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
                  <!--Sidebar Sub Item-->
                  <li class="sidebar-menu_item sidebar-sub_menu_item">
                     <a class="sidebar-menu_item-link" href="./subOption4.html">
                        <!-- <div class="sidebar-menu_item-icon"></div> -->
                        <div class="sidebar-menu_item-title">Sub Option 4</div>
                     </a>
                  </li>
                  <!--End Sidebar Sub Item-->
               </ul>
               <!--End Sidebar Sub Menu-->
            </li>
            <!--End Sidebar Item-->
         </ul>
         <!--End Sidebar Menu-->
      </nav>
   </div>
   <!--End Sidebar-->


   <!--Main Container-->
   <main class="main-container">
      <!--Header(Top Bar)-->
      <header>
         <div class="header-profile">
         </div>
      </header>
      <!--End Header(Top Bar)-->

      <!--Content-->
      <div class="content">
      </div>
      <!--End Content-->

      <!--Footer-->
      <footer>
      </footer>
      <!--End Footer-->
   </main>
   <!--End Main Container-->

   <script src="../../assets/js/jquery-3.6.0.min.js"></script>
   <script src="../../assets/js/main.js"></script>
</body>


</html>